<div>
  <table class="comment_image">
	<tr>
		<td class="commenter_image">
          	<%= image_link(comment.commenter, :image => :minithumb) %>
        </td>
		<td class="commenter">
    		<%= person_link comment.commenter %>
		</td>
  </table>
	
  <%= display comment.body %>

  <%- if current_person?(comment.commentable) -%>
  <br />
  <%= link_to "delete", person_comment_path(@person, comment),
                        :method => :delete %>
  <%- end -%>  
</div>