<%- if logged_in? -%>
  <%- unless @common_contacts.empty? -%>
    <h4>COMMON CONTACTS</h4>
    <div id="common_list">
		<table>
		<%- i=0 %>
      <%- @common_contacts.each do |connection| -%>
       <%- unless connection.admin? %>
       <%- if i%2==0 %>
		<tr>
	   <%- end %>
        	<td class="thumb">
          		<%= image_link(connection,	:image => :minithumb,
                         							:image_options => { :class => "photo fn" },
                         							:link_options =>  { :class => "url" }) %>
        	</td>
		<%- i+=1 %>
		<%- end %>
      <%- end -%>
    </table>
  </div>
  <%- end -%>
<%- end %>