#contact_content

-form_for @person, :html => { :multipart => true } do |f|

  #skills_content
    %h3 Skills and Education
    
    .form_row
      %p
        -@person.schools.each do |sc|
          =sc.name
      %label{ :for => "p_schools" } Schools:
      %input{ :name => "school[][name]", :size => "30", :type => "text"}
      / =date_select "school[][year]", nil, :end_year => Date.today.year-20, :start_year => Date.today.year+5, :discard_day => true, :discard_month => true
      -i = Date.today.year+5
      %select{:id => "school_year", :name => "school[][year]"}
        -25.times do
          -if i==Date.today.year
            %option{:value => i, :selected => "selected"}
              =i
          -else
            %option{:value => i}
              =i
          -i = i-1

    #languages_checkboxes
      %h3 Languages
      =render :partial => "languages", :locals =>{ :f => f }
  
    #softwares_checkboxes
      %h3 Software
      =render :partial => "software", :locals =>{ :f => f }

  .form_row
    #cv
      %h3 CV
      %label{ :for => "person_cv" } CV (PDF format):
      =f.file_field :cv

  %input{ :type => "hidden", :name => "type", :value => "skill_edit"}

  = f.submit "Update", :class => "button"
