<table>
  <%- i=0 %>
 	<% for language in Language.find(:all) %>
     <%- if i%4==0 %>
        <tr>
     <%- end %>
        <td>
           <label> <%= language.name %>
           <%= check_box_tag "person[language_ids][]", language.id, @person.languages.include?(language) %></label>
        </td>
     <%- i+=1 %>
 <%- end %>
</table>