<div id="my_projects">
<%= will_paginate @projects, :prev_label => "<span class='prev'><</span>", :next_label => "<span class='next'>></span>", :class =>"paginate" %>
<table align="center">
  <%- if @person.projects.empty? %>
    <tr>
	  <td>No project</td>
	</tr>
  <%- else %>
    <%- i=0 %>
  	<%- for project in @projects %>
      <%- if i%3==0 %>
        <tr>
      <%- end %>
        <%= render :partial => "projects/project_item", :locals =>{ :project => project} %>
      	<%- i+=1 %>
	  <%- if i%3==0 or project == @projects.last %>
        </tr>
      <%- end %>
	<%- end %>
  <%- end %>
</table>
<%= will_paginate @projects, :prev_label => "<span class='prev'><</span>", :next_label => "<span class='next'>></span>", :class =>"paginate" %>
</div>