<div id="my_projects">
<table>
  <%- i=0 %>
  <%- for project in @person.last_projects do %>
    <%- if i%3==0 %>
      <tr>
    <%- end %>
    <td>
      <%= render :partial => "projects/project_item", :locals =>{ :project => project} %>
    </td>
    <%- i+=1 %>
  <%- end %>
</table>
</div>