<td class="vcard person">
  <%= image_link person, :class => "photo", :image => :thumbnail %>
  <p><%= person_link person, :class => "url fn" %></p>
  <p><%= display(truncate(person.description, 150), :class => "note") %></p>
</td>