<table>
  <%- i=0 %>
 <%- @skills.each do |skill| %>
     <%- if i%4==0 %>
        <tr>
     <%- end %>
        <td>
           <label> <%= skill.title %>
           <%= check_box_tag "person[skills][]", skill.id, @person.skills.include?(skill) %></label>
        </td>
     <%- i+=1 %>
 <%- end %>
</table>
