-column_div :type => :primary do
  #data_title
    %h4 MY PERSONAL INFORMATIONS

  #profile_edit.clearfix

    = error_messages_for :person
    
    #editprofiletabs.clearfix
      %ul.clearfix.yellow
        =tab_to "Mandatory fields", editprofile_path(current_person, "mandatory"), :class => "current"
        =tab_to "About you", editprofile_path(current_person, "about"), :class => "current"
        =tab_to "Skills & Education", editprofile_path(current_person, "education"), :class => "current"
        =tab_to "Contact info", editprofile_path(current_person, "contact"), :class => "current"
        =tab_to "Password", editprofile_path(current_person, "password"), :class => "current"
    
    
    #legend    
      -case @part
      -when "mandatory"
        =render :partial => 'mandatory'
      -when "about"
        =render :partial => "about"
      -when "education"
        =render :partial => "education"
      -when "contact"
        =render :partial => "contact"
      -when "password"
        =render :partial => "password"

  =image_tag "personaldata_bottom.gif"