#sort
  %span#sort_content
    -form_tag searches_path, :method => :get, :id => "frmSearch" do
      %label{ :for => "q"}Choose a category:
      %br
      = collection_select(:person, :skills, Skill.find(:all), :id, :name,{:prompt   => "All categories"})
  %h4#sort_title SORT PEOPLE BY CATEGORY
#what_is
  %h4
    =link_to "How to create my network ?"


-column_div :type => :primary do
  -unless @people.empty?
    = will_paginate
    #people
      %table#list_people
        -@people.in_groups_of(4) do |row|
          %tr
            =render :partial => "person_row", :locals => {:row => row}
    = will_paginate