-form_for @person, :html => { :id => "change_password" } do |f|
  #personal_content
    %h3 Change Password

    .form_row
      %label{ :for => "password" } Current Password
       = f.password_field :verify_password, :maxlength => Person::MAX_PASSWORD

    .form_row
      %label{ :for => "password" } New Password
      = f.password_field :new_password, :maxlength => Person::MAX_PASSWORD

    .form_row
      %label{ :for => "password_confirmation" } Confirm Password
      = f.password_field :password_confirmation, :maxlength => Person::MAX_PASSWORD, :value => ""

    .form_row
      = submit_tag 'Change password', :class => "button"

    %input{ :type => "hidden", :name => "type", :value => "password_edit" }