<h1>New creation</h1>

<%= error_messages_for :creation %>

<% form_for(@creation) do |f| %>
  <p>
    <b>Project</b><br />
    <%= f.text_field :project_id %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', creations_path %>
