<p>
  <b>Project:</b>
  <%=h @creation.project_id %>
</p>


<%= link_to 'Edit', edit_person_project_creation_path(current_person, @project, @creation) %> |
<%= link_to 'Back', person_project_creations_path %>
