body
  :background
    :image url(../images/background_squares.jpg)
    :repeat repeat
  :font 11pt Tahoma,Georgia,Verdana,sans-serif
  :height 100%

  img
    :border 0
    :margin 0
    :padding 0

/**********Centered Page**********
#global
  :width 994px
  :margin
    :left auto
    :right auto

/**********Header elements**********
#header
  :background
    :image url(../images/header.jpg)
    :repeat no-repeat
  :padding-left 10px	
  :width 994px
  :height 108px
  :color white
  
  a
    :color white
    :text-decoration none

  #logo
    :width 120px
    :margin
      :top 15px
      :left 5px
    :float left

  #searchbox
    :position absolute
    :margin
      :top 10px
      :left 413px
    #p_keyword
      :width 183px
    #adv_search
      :font-size 8pt
      :position absolute
      :margin
        :top 5px
        :left 123px
    #go
      :position absolute
      :margin
        :left 10px
        :top 5px

  #languages
    :float right
    :margin
      :right 30px
      :top 25px
    #uk
      :margin
        :right 5px
    #fr
      :margin
        :right 5px
  #menus
    :padding
      :top 87px
    #gallery
      :margin
        :left 132px
    #news
      :margin
        :left 157px
    #mypage
      :margin
        :left 137px
    #creativecontests
      :margin
        :left 79px
    #coaliz
      :margin
        :left 89px

#submenus
  :background
    :color white
  :border
    :left 1px solid #DDDDDD
    :right 1px solid #DDDDDD
  :width 967px
  :height 20px
  :margin
    :left 2px
    :right auto
  :padding
    :left 10px
    :right 10px

/**********Toolbox**********
#toolbox
  :float right
  :margin
    :left 7px

  #login
    :background
      :image url(../images/login.jpg)
      :repeat no-repeat
    :color white
    :text-align right
    :width 187px
    :height 101px
    :padding
      :top 10px

    #login_content
      :padding
        :right 10px

    h3
      :font
        :size 9pt
        :weight normal
      :padding 0
      :margin 0
      :margin
        :bottom 10px

    a
      :color white
      :font
        :size 8pt

  #signin
    :background
      :image url(../images/signin.gif)
      :repeat no-repeat
    :color white
    :text-align right
    :width 187px
    :height 162px
    :margin
      :bottom 10px

    a
      :color white
      :font
        :size 8pt

  #signin
    :background
      :image url(../images/signin.gif)
      :repeat no-repeat
    :color white
    :text-align right
    :width 187px
    :height 162px
    :margin
      :bottom 10px

    #member_title
      :margin
        :top 0
        :right 10px
        :bottom 10px
      :font
        :size 10pt

    .form_row
      :margin
        :right 10px
        :bottom 2px
      :font
        :size 8pt

    #forgot
      :font
        :size 8pt
      :margin
        :top 5px
        :bottom 10px
        :right 10px

    #go_button
      :float right
      :margin
        :left 15px

    .remember
      :margin
        :left 10px

    a
      :color white
      :text-decoration none
  img
    :margin
      :bottom 10px

  #feedback
    :background
      :image url(../images/feedback.jpg)
      :repeat no-repeat
    :width 187px
    :height 202px

    #title
      :margin
        :left 30px
      :padding
        :top 10px
      :color white

    #subtitle
      :margin
        :left 45px
      :color white
    
    #formbody
      :padding
        :top 5px
      :margin
        :left 20px
      :font
        :size 8pt

      #feedback_message
        :width 145px
        :height 100px
        :margin
          :bottom 15px

      #thanks
        :color #FF9900
      #send
        :float right
        :margin
          :right 20px

/**********Page content**********
#main
  :background
    :color #EFEFEF
  :border 1px solid #DDDDDD
  :width 972px
  :margin
    :left 2px
    :right auto
  :padding
    :left 5px
    :right 10px
    :top 5px
    :bottom 20px
  :min-height 600px

/**********Index content**********
#content
  :color #333333

  #player

  #description
    :float right
    :font
      :size 10pt
    :width 190px

    #desc_message
      :background
        :color white
      :border
        :left 1px solid #DDDDDD
        :right 1px solid #DDDDDD
      :padding
        :left 5px
        :right 5px
      :height 395px
      :text-align right

      h2
        :margin
          :top 0
        :text-align center

      h4
        :font
          :weight normal
        :margin
          :top 0

      p
        :text-align justify
        :margin
          :top 20px
          :bottom 0

      p:first-letter
        :margin
          :left 5px

      .sign
        :width 160px
        :margin
          :bottom 10px

#lastproject

  #lastprojectstab
    :background
      :image url(../images/lastproj_tab.gif)
      :repeat no-repeat
      :color #EFEFEF
    :width 780px
    :height 24px

    h4
      :font
        :weight normal
      :color white
      :font
        :size 10pt
      :padding
        :left 96px
        :top 5px

  #lastprojects_content
    :background
      :color white
    :border
      :left 1px solid #DDDDDD
      :right 1px solid #DDDDDD
    :width 773px
    :height 470px
    :padding
      :left 5px
      :top 10px

    .lastprojects
      :float left
      :margin
        :right 5px
        :top 10px
      :width 188px
      :background
        :color #EFEFEF
      :text-align right

      h4
        :font
          :weight normal
        :color #009900
        :margin
          :top 0
          :bottom 5px

      .details
        :font
          :size 8pt
        :line-height 2em
        :padding
          :right 10px

      .category
        :font
          :size 8pt
        :background
          :color #009900
        :color white 
        :padding
          :right 10px

  #lastprojectbottom
    :background
      :image url(../images/lastproj_bottom.gif)
      :repeat no-repeat
    :width 780px
    :height 24px
    :text-align right

    a
      :color #333333
      :padding
        :right 10px

/**********Password reminder content**********
#reminder_tab
  :background
    :image url(../images/personaldata_tab.gif)
  :width 387px
  :height 24px

  h4
    :font
      :weight normal
    :color white
    :margin 0
    :padding
      :top 5px
      :left 50px
      :bottom 0
    :font
      :size 10pt

#reminder_content
  :background
    :color white
  :border
    :left 1px solid #DDDDDD
    :right 1px solid #DDDDDD
  :width 365px
  :padding
    :left 10px
    :right 10px
    :top 20px
    :bottom 10px

  #reminder
    :float left
    :margin
      :top 2px
      :bottom 5px
      :right 20px

/**********Personal Data content**********
#data_title
  :background
    :image url(../images/personaldata_top.gif)
    :repeat no-repeat
  :width 780px
  :height 24px
  :color #FF9900
  :text-align right

  h4
    :font
      :weight normal
    :margin 0
    :padding
      :top 5px
      :right 10px
      :bottom 0
    :font
      :size 10pt

#profile_edit
  :background
    :color white
  :border
    :top 2px solid #FF9900
    :left 1px solid #DDDDDD
    :right 1px solid #DDDDDD
  :width 775px
  :text-align right
  :padding
    :top 20px
    :bottom 10px

  #legend
    :float left
    :border 1px solid #FF9900
    :margin
      :left 10px
    :padding 5px

    
  #gender
    :margin
      :bottom 15px
      :right 100px

    label
      :margin
        :left 40px

  .form_row
    :margin
      :bottom 15px
      :right 100px

    label
      :margin
        :right 20px

    .mandatory
      :margin
        :left 10px

    #person_first_name
      :width 300px

    #person_name
      :width 300px

    #person_email
      :width 300px

    #p_country
      :width 306px

    #terms
      label
        :margin 0

    code
      :font
        :size 9pt

    #person_website
      :width 245px

    #p_status
      :width 306px

  #about_content
    .form_row
      p
        :margin 0

        label
          :float left
          :margin
            :left 267px
          :padding
            :top 15px

        #person_description
          :width 306px
          :height 200px

    #description
      :margin
        :top 40px
        :bottom 15px
        :right 100px

  #person_address
    :width 300px

  #person_zipcode
    :width 300px

  #person_city
    :width 300px

  #p_schools
    :width 300px
    :margin
      :bottom 5px

  #skills_checkboxes
    :font
      :size 9pt
    table
      :margin
        :left 140px
        :bottom 20px

  #languages_checkboxes
    :font
      :size 9pt
    table
      :margin
        :left 325px
        :bottom 20px

  #softwares_checkboxes
    :font
      :size 9pt
    table
      :width 675px
      :margin
        :left 10px
        :bottom 20px
  #p_languages
    :width 306px

  #p_software
    :width 306px

  #p_cv
    :width 300px

  #cv
    :margin
      :top 5px

  #person_phone
    :width 300px

  #photo
    :text-align left
    :margin
      :top 10px
      :left 110px

    table
      :border 1px solid #999999
      :text-align center
      :margin
        :bottom 10px

  h3
    :text-align center
    :margin
      :top 20px
      :bottom 20px

/*********** PENDING TABS *************
#subtabs
  :background
    :image url(../images/personaldata_subtab.gif)
    :repeat no-repeat
  :width 775px
  :height 24px
  :text-align left
  :padding
    :top 2px

  h4
    :font
      :weight normal
    :margin 0
    :display inline

    a
      :color white
      :text
        :decoration none

  #about
    :color #FF9900
    :padding
      :left 112px

  #skills
    :padding
      :left 62px

  #contact
    :padding
      :left 100px

  #notification
    :padding
      :left 64px

/********** Profile page**********
#profile_details
  :width 773px
  :height 153px
  :background
    :color white
  :border
    :left 1px solid #DDDDDD
    :right 1px solid #DDDDDD

  a
    :color #333333
    :text-decoration none
    :font
      :size 9pt

  #profile_image
    :float left
    :margin
      :right 7px
      :left 1px

  #details
    :float left
    :width 197px
    :height 150px
    :border
      :right 1px dotted black

    p
      :margin 0
      :padding 0

    #skills
      :margin
        :top 8px
      :font
        :size 9pt

  #stats
    :color #777777
    :padding
      :left 10px
    :float left
    :width 187px
    :height 150px
    :font
      :size 10pt
    :border
      :right 1px dotted black

  #actions
    :float left
    :width 170px
    :height 150px

    #actions_list
      :margin
        :left 5px

      td
        :padding
          :bottom 10px

/**********Contact Requests**********
#requests
  :background
    :color white
  :border
    :top 2px solid #FF9900
    :left 1px solid #DDDDDD
    :right 1px solid #DDDDDD
  :width 765px
  :padding
    :top 20px
    :left 10px

  .contact_request
    :padding
      :right 40px
      :bottom 20px

/**********Mini Header**********
#what_is
  :background
    :image url(../images/banner_project.png)
    :repeat no-repeat
  :width 384px
  :height 61px
  :text-align center
  :padding
    :top 20px

  h4
    :font
      :weight normal
    :margin
      :top 0

  a
    :font
      :size 11pt
    :color white
    :text-decoration none

#sort
  :float right
  :background
    :image url(../images/banner_project.png)
    :repeat no-repeat
  :width 384px
  :height 61px
  :text-align center
  :color white

  h4
    :font
      :weight normal
    :margin
      :top 10px
      :left 20px
    :width 105px

  #sort_content
    :float right
    :text-align right
    :margin
      :top 10px
      :right 20px

    #_skills
      :margin
        :top 5px
      :width 200px

    label
      :margin 0
      :font
        :size 9pt
/**********People page**********
#people
  :width 775px
  :background
    :color white
  :border
    :left 1px solid #DDDDDD
    :right 1px solid #DDDDDD

  table#list_people
    :border-spacing 5px 5px
    td
      :vertical-align top
      :font
        :size 8pt
      :padding
        :bottom 10px
      :width 195px
      :height 80px
      :border-collapse separate
  
      img
        :float left
        :margin
          :right 5px

      p
        :font
          :size 7pt
        :margin 0
        :margin
          :top 2px

      a
        :color #009900
        :text-decoration none

      table
        :border-collapse collapse
        :height 80px
        td
          :padding 0
          :height 5px
        .person_thumb
          :width 90px
        .person_skill
          :vertical-align bottom
        .add_cell
          :vertical-align bottom
          a
            :color #009900
            :text-decoration none
        .count_common
          :vertical-align bottom

/**********Project display***********
#projects
  :width 583px
  h4
    :text-align right
    :color #009900
    :font
      :size 10pt
      :weight normal
    :margin 0

#my_projects
  :background
    :color white
  :border
    :top 2px solid #009900
  :padding
    :bottom 10px

.project_item
  :margin
    :right 2px
    :top 10px
  :width 188px
  :text-align right

  h4
    :font
      :weight normal
    :color #009900
    :margin
      :top 0
      :bottom 5px

  .project_details
    :font
      :size 8pt
    :line-height 2em
    :background
      :color #EFEFEF
    :padding
      :right 10px

    a
      :color #009900
      :text-decoration none

    .votes_views
      :font
        :size 8pt

  .category
    :font
      :size 8pt
    :background
      :color #009900
    :color white 
    :padding
      :right 10px

/**********Pagination display**********
.paginate
  :text-align right
  :font
    :size 9pt
  :color #009900

  a
    :color #333333
    :text-decoration none

  .next
    :color #009900

  .prev
    :color #009900

/**********Profile right column**********
#right
  :float right
.profile_right_column
  :width 188px
  :margin
    :left 5px
  :text-align right

  h4
    :text-align right
    :color #009900
    :font
      :size 10pt
      :weight normal
    :margin 0

  a
    :color #333333
    :text-decoration none

  #description_content
    :background
      :color white
    :border
      :top 2px solid #009900
    :width 188px
    :padding
      :bottom 5px

    p
      :text-align justify
      :margin 5px
      :font
        :size 9pt

    p:first-letter
      :margin
        :left 20px

  .column_content
    :background
      :color white
    :border
      :top 2px solid #009900
    :width 188px
    :padding
      :bottom 5px

    #p_status
      :margin
        :top 5px

    p
      :text-align right
      :margin 5px
      :font
        :size 9pt

    #cv
      :text-align center
      :font
        :size 9pt
      :margin
        :bottom 15px

      img
        :margin
          :right 10px

    img
      :margin
        :top 5px
        :right 5px

  .add
    :text-align center
    :margin
      :top 15px
      :bottom 10px
    a
      :margin
        :top 5px
      :font
        :size 9pt
      :color #333333

/**********Recent Activity***********
#feed_requests
  :width 777px

  #minifeeds
    :text-align right
    :width 580px
 
    h4
      :color #009900
      :font
        :size 10pt
        :weight normal
      :margin 0

    .list_feed
      :background
        :color white
      :border
        :top 2px solid #009900
      :width 580px
      :margin
        :bottom 20px

      table
        :width 580px
        td.thumb
          :width 36px
        td
          :vertical-align top
          :height 36px
          img
            :margin
              :left 10px
              :bottom 20px
          p
            :margin 0
            :font
              :size 10pt
  
            a
              :color #009900
              :text-decoration none
  
/**********Requested contacts partial**********
#personal_requests
  :margin
    :left 7px
  :width 190px
  :text-align right

  h4
    :width 190px
    :color #009900
    :font
      :size 10pt
      :weight normal
    :margin 0

  #person_request
    :background
      :color white
    :border
      :top 2px solid #009900
    :width 190px

    table
      :width 190px
      :text-align right
      :font
        :size 9pt

      a
        :color #009900
        :text-decoration none

/**********Contacts Preview***********
#contacts
  :width 7px

#contact_preview
  h4
    :text-align right
    :width 583px
    :color #009900
    :font
      :size 10pt
      :weight normal
    :margin 0

#contacts_small
  :width 583px
  :background
    :color white
  :border
    :top 2px solid #009900

  #nocontact
    :text-align center

  table
    :font
      :size 9pt
    :border-spacing 7px 5px
    td.thumb
      :width 194px
      :height 80px
      :vertical-align top
      :padding
        :bottom 10px
      :border-collapse separate

      img
        :float left
        :margin
          :right 5px

      p
        :margin 0
        :margin
          :top 2px

        a
          :color #009900
          :text-decoration none

      table
        :height 80px
        :border-collapse collapse

        .name
          :vertical-align top

        .delete
          :vertical-align bottom
          a
            :color red
            :text-decoration none

/************Common contacts***********
#common_contacts
  h4
    :text-align right
    :width 190px
    :color #009900
    :font
      :size 10pt
      :weight normal
    :margin 0

#common_list
  :width 190px
  :background
    :color white
  :border
    :top 2px solid #009900
  :padding
    :top 5px

  table
    :font
      :size 9pt
    :border-spacing 20px 1px
    td.thumb
      :width 60px
      :height 80px
      :vertical-align top
      :padding
        :bottom 5px
      :border-collapse separate

      img
        :float left
        :margin
          :right 5px

      p
        :margin 0
        :margin
          :top 2px

        a
          :color #009900
          :text-decoration none

/**********Wall of comments**********
#wall_title
  :font
    :size 10pt
    :weight normal
  :width 583px
  :text-align right
  :color #009900
  :margin 0
.wall
  :width 583px
  :border
    :top 2px solid #009900
  :padding
    :top 10px
  :background
    :color white
  #wall_form
    :text-align center
    :width 581px
    :height 136px
    :background
      :image url(../images/wall_public.gif)
      :repeat no-repeat

    #wall_comment
      :color white
      :float left
      :width 100px
      :margin
        :top 10px
        :right 20px
        :left 20px

    #wall_textarea
      :padding
        :top 10px

  .time
    :font
      :size 8pt
  p.connect
    :padding
      :top 15px
    :color white

    a
      :text-decoration none
      :color white

/**********Comments in the wall**********
#comments
  :margin
    :left 10px
    :top 10px

  .comment_image
    :float left
    :font
      :size 9pt
    :border-spacing 2px 0
    :border-collapse separate
    :width 200px
    :height 80px
    :border
      :top 1px dotted black
      :bottom 1px dotted black

    .commenter_image
      :width 50px

    a
      :color #333333
      :text-decoration none

    .commenter
      :vertical-align top
      :padding
        :top 5px
      p
        :margin 0

  .comment
    :width 411px
    :border-collapse collapse
    .head
      :width 411px
      :height 21px
      :background
        :image url(../images/comments/comment_head.gif)
        :repeat no-repeat
    .left_arrow
      :width 16px
      :height 42px
      :background
        :image url(../images/comments/comment_arrow.gif)
        :repeat no-repeat
    .comment_body
      p
        :margin 0
    .right_border
      :width 15px
      :background
        :image url(../images/comments/comment_right.gif)
        :repeat repeat-y
    .bottom_left
      :width 20px
      :background
        :image url(../images/comments/comment_left.gif)
        :repeat repeat-y
    .bottom
      :text-align right
      :width 409px
      :height 21px
      :background
        :image url(../images/comments/comment_bottom.gif)
        :repeat no-repeat
      a
        :margin
          :right 10px

/**********Alerts end notifications**********
.success
  :border 1px solid #DDDDDD
  :background-color white
  :font-size 12px
  :padding 6px
  :width 955px

.notice
  :border 1px solid #DDDDDD
  :background-color white
  :font-size 12px
  :padding 6px
  :width 955px

.error 
  :border 1px solid #DDDDDD
  :background-color white
  :font-size 12px
  :padding 6px
  :width 955px
 
.errorExplanation
  :border 1px solid #DDDDDD
  :background-color white
  :margin-bottom 2px
  :padding 1em
  :width 955px

.errorExplanation h2
  :background 0
  :border 0
  :font-size 1.2em
  :margin-top 0
  :padding 0
  :width 955px

.pagination
  :border-bottom 1px solid #eee
  :font-size 12px
  :padding-bottom 2px
  :text-align center
  :margin-bottom 2px
  :width 955px
