body
  :background
    :image url(../images/background_squares.jpg)
    :repeat repeat
  :font 11pt Tahoma,Georgia,Verdana,sans-serif
  :height 100%

  img
    :border 0
    :margin 0
    :padding 0

/**********Centered Page**********
#global
  :width 994px
  :margin
    :left auto
    :right auto

/**********Header elements**********
#header
  :background
    :image url(../images/header.jpg)
    :repeat no-repeat
  :padding-left 10px	
  :width 994px
  :height 108px
  :color white
  
  a
    :color white
    :text-decoration none

  #logo
    :width 120px
    :margin
      :top 15px
      :left 5px
    :float left

  #searchbox
    :position absolute
    :margin
      :top 10px
      :left 413px
    #p_keyword
      :width 183px
    #adv_search
      :font-size 8pt
      :position absolute
      :margin
        :top 5px
        :left 123px
    #go
      :position absolute
      :margin
        :left 10px
        :top 5px
      :width 38px

  #languages
    :float right
    :margin
      :right 30px
      :top 25px
    #uk
      :margin
        :right 5px
    #fr
      :margin
        :right 5px
  #menus
    :padding
      :top 87px
    #gallery
      :margin
        :left 132px
    #news
      :margin
        :left 157px
    #mypage
      :margin
        :left 137px
    #creativecontests
      :margin
        :left 79px
    #coaliz
      :margin
        :left 89px

#submenus
  :background
    :color white
  :border
    :left 1px solid #DDDDDD
    :right 1px solid #DDDDDD
  :width 967px
  :height 20px
  :margin
    :left 2px
    :right auto
  :padding
    :left 10px
    :right 10px

/**********Toolbox**********
#toolbox
  :float right
  :margin
    :left 7px
    :right 3px

  #login
    :background
      :image url(../images/login.jpg)
      :repeat no-repeat
    :color white
    :text-align right
    :width 187px
    :height 101px
    :padding
      :top 10px

    #login_content
      :padding
        :right 10px

    h3
      :font
        :size 10pt
        :weight normal
      :padding 0
      :margin 0
      :margin
        :bottom 5px

    a
      :color white
      :font
        :size 8pt

  #signin
    :background
      :image url(../images/signin.gif)
      :repeat no-repeat
    :color white
    :text-align right
    :width 187px
    :height 162px
    :margin
      :bottom 10px

    #member_title
      :margin
        :top 0
        :right 10px
        :bottom 10px
      :font
        :size 10pt

    .form_row
      :margin
        :right 10px
        :bottom 2px
      :font
        :size 8pt

    #forgot
      :font
        :size 8pt
      :margin
        :top 5px
        :bottom 10px
        :right 10px

    #go_button
      :float right
      :margin
        :left 15px

    .remember
      :margin
        :left 10px

    a
      :color white
      :text-decoration none
  img
    :margin
      :bottom 10px

  #feedback
    :background
      :image url(../images/feedback.jpg)
      :repeat no-repeat
    :width 187px
    :height 202px

    #title
      :margin
        :left 30px
      :padding
        :top 10px
      :color white

    #subtitle
      :margin
        :left 45px
      :color white
    
    #formbody
      :padding
        :top 5px
      :margin
        :left 20px
      :font
        :size 8pt

      #feedback_message
        :width 145px
        :height 100px
        :margin
          :bottom 15px

      #thanks
        :color #FF9900
      #send
        :float right
        :margin
          :right 20px

/**********Page content**********
#main
  :background
    :color #EFEFEF
  :border 1px solid #DDDDDD
  :width 974px
  :margin
    :top 10px
    :left 10px
    :right 10px
    :top 10px
    :bottom 10px
  :min-height 500px

/**********Index content**********
#content
  :color #333333

  #player

  #description
    :float right
    :font
      :size 10pt
    :width 190px

    #desc_message
      :background
        :color white
      :border
        :left 1px solid #DDDDDD
        :right 1px solid #DDDDDD
      :padding
        :left 5px
        :right 5px
      :height 395px

      h4
        :margin
          :top 0

      p
        :text-align justify
        :margin
          :top 20px
          :bottom 0

      p:first-letter
        :margin
          :left 5px

      .sign
        :width 160px
        :margin
          :bottom 10px

#lastproject

  #lastprojectstab
    :background
      :image url(../images/lastproj_tab.gif)
      :repeat no-repeat
      :color #EFEFEF
    :width 780px
    :height 24px

