body {
  font-size: 11pt;
  font-family: Arial,Georgia,Verdana,sans-serif; }

/* *********Header elements********** */
#header {
  height: 108px; }
  #header #menus {
    weight: bold;
    padding: 0;
    padding-top: 20px;
    width: 100%; }
    #header #menus #gallery {
      margin-left: 126px; }
    #header #menus #news {
      margin-left: 153px; }
    #header #menus #mypage {
      margin-left: 133px; }
    #header #menus #creativecontests {
      margin-left: 63px; }
    #header #menus #coaliz {
      margin-left: 80px; }

/* *********Toolbox********** */
#toolbox {
  margin-left: 3px; }
  #toolbox #login {
    margin-bottom: 5px; }
    #toolbox #login #login_content #logout {
      margin-top: 10px; }
  #toolbox #signin {
    margin-bottom: 0px; }
    #toolbox #signin .form_row #email {
      width: 150px; }
    #toolbox #signin .form_row #password {
      width: 150px; }
    #toolbox #signin #forgot {
      margin-bottom: 3px; }
  #toolbox #feedback #title {
    margin-left: 37px;
    margin-bottom: 0; }
  #toolbox #feedback #formbody {
    padding-top: 0px; }
    #toolbox #feedback #formbody #feedback_message {
      width: 145px;
      height: 100px;
      margin-bottom: 5px; }
    #toolbox #feedback #formbody #send {
      float: right;
      margin-right: 15px; }

/* *********Index content********** */
#content {
  height: 700px; }
  #content #description {
    margin-right: 3px; }
    #content #description #desc_message {
      margin-top: -3px; }

#lastproject #lastprojectstab {
  width: 780px; }
  #lastproject #lastprojectstab h4 {
    padding-left: 102px;
    margin-bottom: 0; }
#lastproject #lastprojects_content {
  width: 777px;
  height: 470px; }

.project_item {
  margin-right: 0; }
  .project_item h4 {
    margin-right: 0px; }

/* *********Password reminder content********** */
#reminder_content {
  padding-bottom: 0px; }

/* *********Personal Data content********** */
#data_title {
  width: 777px; }

#profile_edit {
  width: 775px; }
  #profile_edit .form_row #p_newsletter {
    margin-right: 26px; }
  #profile_edit #about_content .form_row p {
    margin: 0; }
    #profile_edit #about_content .form_row p #person_description {
      width: 300px; }
  #profile_edit #skills_checkboxes table {
    width: 650px;
    font-size: 9pt;
    margin-left: 0;
    margin-right: 95px; }
  #profile_edit #languages_checkboxes table {
    margin-left: 0;
    margin-right: 95px; }
  #profile_edit #softwares_checkboxes table {
    margin-left: 0;
    margin-right: 95px; }
  #profile_edit h3 {
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; }

/* ********* Profile page********** */
#profile_details {
  margin-top: -4px; }

/* *********Contact Requests********** */
#requests {
  background-color: white;
  border-top: 2px solid #FF9900;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  width: 765px;
  padding-top: 20px;
  padding-left: 10px; }
  #requests .contact_request {
    padding-right: 40px;
    padding-bottom: 20px; }

/* *********Mini Header********** */
#what_is {
  margin-left: 2px; }
  #what_is h4 {
    font-weight: bold; }

#sort {
  margin-right: 5px; }
  #sort h4 {
    font-weight: bold; }

/* *********People page********** */
#people {
  width: 775px; }
  #people table#list_people td {
    width: 187px; }

/* *********My Project display*********** */
.project_item .project_details {
  margin-top: -2px; }

/* *********Project display*********** */
#projects_page {
  width: 779px; }
  #projects_page h4 {
    font-weight: bold; }

/* *********Pagination display********** */
.paginate {
  text-align: right;
  font-size: 9pt;
  color: #009900; }
  .paginate a {
    color: #333333;
    text-decoration: none; }
  .paginate .next {
    color: #009900; }
  .paginate .prev {
    color: #009900; }

/* *********Profile right column********** */
#right {
  margin-right: 5px; }

.profile_right_column .column_content .profile_edit {
  margin-right: 5px; }

/* *********Wall of comments********** */
#wall_title {
  font-size: 10pt;
  font-weight: normal;
  width: 777px;
  text-align: right;
  color: #009900;
  margin: 0; }

.wall #wall_form {
  margin-left: 10px; }

/* *********Comments in the wall********** */
.comment {
  border-collapse: collapse;
  border-spacing: 0; }
  .comment .head {
    width: 412px; }
  .comment .comment_body {
    padding: 0; }
    .comment .comment_body p {
      width: 350px;
      margin: 0;
      padding: 0; }

.mail {
  vertical-align: top;
  padding-top: 35px; }

/* *********Message comment********** */
#inbox h4 {
  margin: 0;
  padding: 0;
  width: 777px;
  text-align: right;
  color: #FF9900; }

#messages {
  background-color: white;
  width: 757px;
  padding: 10px;
  border-top: 2px solid #FF9900; }
  #messages .head {
    padding: 0; }
  #messages .bottom p {
    margin-top: 20px; }

.subject {
  padding-left: 20px;
  font-size: 10pt; }
  .subject .title {
    color: #FF9900;
    text-decoration: none; }

/* *********Inbox display********** */
#message_nav {
  text-align: center;
  list-style-type: none;
  margin-bottom: 50px; }
  #message_nav li {
    display: inline;
    margin-right: 20px; }

#message_recipient {
  width: 300px; }

/* *********New message display********** */
#new_message h4 {
  margin: 0;
  padding: 0;
  width: 777px;
  text-align: right;
  color: #FF9900; }
#new_message .col1 {
  background-color: white;
  width: 757px;
  padding: 10px;
  border: 1px solid #DDDDDD;
  border-top: 2px solid #FF9900; }
  #new_message .col1 img {
    float: left; }
  #new_message .col1 .form_row {
    text-align: center;
    margin-bottom: 10px; }
    #new_message .col1 .form_row #message_subject {
      width: 297px; }
  #new_message .col1 #message_row {
    text-align: center;
    margin-bottom: 10px;
    margin-left: 90px; }
    #new_message .col1 #message_row #message_body {
      width: 350px; }
    #new_message .col1 #message_row p {
      margin: 0; }
  #new_message .col1 #message_submit {
    margin-left: 90px; }
  #new_message .col1 .button {
    margin-top: 20px;
    margin-left: 20px; }

/* *********New project display********** */
#project {
  width: 580px;
  font-size: 10pt; }
  #project h4 {
    margin: 0;
    color: #FF9900;
    text-align: right; }
  #project #project_global {
    padding: 10px;
    background-color: white;
    border-top: 2px solid #FF9900; }
    #project #project_global input {
      margin-top: 10px; }
    #project #project_global span {
      color: #FF9900;
      float: left;
      width: 270px;
      font-size: 9pt;
      text-align: right;
      margin-right: 20px; }
      #project #project_global span #person_projects {
        width: 270px;
        margin-top: 7px; }
    #project #project_global #create {
      margin-right: 0px; }
    #project #project_global #project_settings {
      margin-top: -3px;
      font-size: 9pt; }
      #project #project_global #project_settings p {
        text-align: right; }
      #project #project_global #project_settings table {
        margin: 0;
        border-collapse: collapse;
        text-align: right;
        width: 271px;
        font-size: 8pt; }
      #project #project_global #project_settings #title {
        padding-top: 0px;
        width: 270px; }
        #project #project_global #project_settings #title #project_title {
          width: 265px; }
      #project #project_global #project_settings #project_desc {
        float: right;
        margin-top: 18px;
        margin-left: 10px; }
        #project #project_global #project_settings #project_desc textarea {
          margin-top: 10px;
          width: 260px; }
      #project #project_global #project_settings table p {
        border: 1px solid red; }
      #project #project_global #project_settings table #categories {
        width: 270px;
        text-align: right;
        padding-right: 10px; }
      #project #project_global #project_settings #tags {
        margin-top: 20px;
        width: 270px; }
        #project #project_global #project_settings #tags #p_tags {
          width: 265px; }
      #project #project_global #project_settings #status {
        margin-top: 20px;
        width: 270px; }
      #project #project_global #project_settings #buttons {
        margin-left: 440px;
        width: 100px; }
  #project #project_edition {
    font-size: 9pt; }
    #project #project_edition p {
      text-align: right; }
    #project #project_edition table {
      margin: 0;
      border-collapse: collapse;
      text-align: right;
      width: 271px;
      font-size: 8pt; }
    #project #project_edition #title {
      padding-top: 40px;
      width: 270px; }
      #project #project_edition #title #project_title {
        width: 265px; }
    #project #project_edition #project_desc {
      float: right;
      margin-top: 25px;
      margin-left: 20px; }
      #project #project_edition #project_desc textarea {
        margin-top: 10px;
        width: 260px; }
    #project #project_edition #categories {
      margin-top: 20px; }
    #project #project_edition #tags {
      margin-top: 20px;
      width: 270px; }
      #project #project_edition #tags #project_tag_list {
        width: 265px; }
    #project #project_edition #status {
      margin-top: 20px;
      width: 270px; }
    #project #project_edition .buttons {
      margin-bottom: 20px;
      margin-left: 440px;
      width: 100px; }
  #project h3 {
    text-align: center; }
  #project #new_creation {
    text-align: left;
    margin-right: 20px;
    font-size: 9pt;
    width: 300px; }
    #project #new_creation #label {
      color: #333333;
      text-align: right;
      width: 225px; }
  #project #terms_content {
    margin-top: 20px; }
    #project #terms_content span {
      color: #333333;
      width: 270px;
      margin: 0; }
    #project #terms_content a {
      color: #FF9900;
      text-decoration: none; }
  #project .buttons {
    margin-bottom: 20px;
    margin-left: 230px; }
  #project #project_header {
    float: right;
    text-align: right;
    width: 188px;
    font-size: 9pt;
    margin-bottom: 20px; }
    #project #project_header img {
      margin-top: 10px; }
    #project #project_header #preview_empty {
      width: 188px;
      height: 135px;
      background-color: #DDDDDD; }
  #project #previews {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px dotted #333333; }
  #project table .img_preview {
    margin-bottom: 16px; }
  #project table .del {
    color: #333333;
    text-decoration: none; }
    #project table .del img {
      margin-right: 5px; }

/* *********Alerts end notifications********** */
.success {
  border: 1px solid #DDDDDD;
  background-color: white;
  font-size: 12px;
  padding: 6px;
  width: 745px; }

.notice {
  border: 1px solid #DDDDDD;
  background-color: white;
  font-size: 12px;
  padding: 6px;
  width: 745px; }

.error {
  border: 1px solid #DDDDDD;
  background-color: white;
  font-size: 12px;
  padding: 6px;
  width: 745px; }

.errorExplanation {
  border: 1px solid #DDDDDD;
  background-color: white;
  margin-bottom: 2px;
  padding: 1em;
  width: 550px; }

.errorExplanation h2 {
  background: 0;
  border: 0;
  font-size: 1.2em;
  margin-top: 0;
  padding: 0;
  width: 550px; }

.pagination {
  border-bottom: 1px solid #eee;
  font-size: 12px;
  padding-bottom: 2px;
  text-align: center;
  margin-bottom: 2px;
  width: 745px; }
