body {
  font-size: 11pt;
  font-weight: bold;
  font-family: Arial,Georgia,Verdana,sans-serif; }

/* *********Header elements********** */
#header {
  height: 108px; }
  #header #menus {
    padding: 0;
    padding-top: 20px;
    width: 100%; }
    #header #menus #gallery {
      margin-left: 126px; }
    #header #menus #news {
      margin-left: 153px; }
    #header #menus #mypage {
      margin-left: 133px; }
    #header #menus #creativecontests {
      margin-left: 63px; }
    #header #menus #coaliz {
      margin-left: 80px; }

/* *********Toolbox********** */
#toolbox {
  margin-left: 3px; }
  #toolbox #login {
    margin-bottom: 5px; }
    #toolbox #login #login_content #logout {
      margin-top: 10px; }
  #toolbox #signin {
    margin-bottom: 0px; }
    #toolbox #signin .form_row #email {
      width: 150px; }
    #toolbox #signin .form_row #password {
      width: 150px; }
    #toolbox #signin #forgot {
      margin-bottom: 3px; }
  #toolbox #feedback #title {
    margin-left: 37px;
    margin-bottom: 0; }
  #toolbox #feedback #formbody {
    padding-top: 0px; }
    #toolbox #feedback #formbody #feedback_message {
      width: 145px;
      height: 100px;
      margin-bottom: 5px; }
    #toolbox #feedback #formbody #send {
      float: right;
      margin-right: 15px; }

/* *********Index content********** */
#content {
  height: 500px; }
  #content #description {
    margin-right: 3px; }
    #content #description #desc_message {
      margin-top: -3px; }

#lastproject #lastprojectstab {
  width: 780px;
  height: 24px; }
  #lastproject #lastprojectstab h4 {
    margin: 0;
    padding-top: 5px; }

/* *********Password reminder content********** */
#reminder_content {
  padding-bottom: 0px; }

/* *********Personal Data content********** */
#data_title {
  width: 777px; }

#profile_edit {
  width: 775px; }
  #profile_edit .form_row #p_newsletter {
    margin-right: 26px; }
  #profile_edit #about_content .form_row p {
    margin: 0; }
    #profile_edit #about_content .form_row p #person_description {
      width: 300px; }
  #profile_edit #about_content #description {
    margin-top: 40px;
    margin-bottom: 15px;
    margin-right: 100px; }
  #profile_edit #skills_checkboxes table {
    width: 650px;
    font-size: 9pt;
    margin-left: 0;
    margin-right: 95px; }
  #profile_edit #languages_checkboxes table {
    margin-left: 0;
    margin-right: 95px; }
  #profile_edit #softwares_checkboxes table {
    margin-left: 0;
    margin-right: 95px; }
  #profile_edit #photo {
    text-align: left;
    margin-top: 10px;
    margin-left: 110px; }
    #profile_edit #photo table {
      border: 1px solid #999999;
      text-align: center;
      margin-bottom: 10px; }
  #profile_edit h3 {
    color: #FF9900;
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; }

/* ********* Profile page********** */
#profile_details {
  margin-top: -4px; }

/* *********Contact Requests********** */
#requests {
  background-color: white;
  border-top: 2px solid #FF9900;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  width: 765px;
  padding-top: 20px;
  padding-left: 10px; }
  #requests .contact_request {
    padding-right: 40px;
    padding-bottom: 20px; }

/* *********Mini Header********** */
#what_is h4 {
  font-weight: bold; }

#sort h4 {
  font-weight: bold; }

/* *********People page********** */
#people {
  width: 775px; }
  #people table#list_people td {
    width: 187px; }

/* *********My Project display*********** */
.project_item h4 {
  font-weight: bold; }
.project_item .project_details a {
  font-weight: bold; }

/* *********Project display*********** */
#projects_page {
  width: 777px; }
  #projects_page h4 {
    font-weight: bold; }

/* ****************************************REPRENDRE LE CODE A CET ENDROIT************************************************** */
/* *********Pagination display********** */
.paginate {
  text-align: right;
  font-size: 9pt;
  color: #009900; }
  .paginate a {
    color: #333333;
    text-decoration: none; }
  .paginate .next {
    color: #009900; }
  .paginate .prev {
    color: #009900; }

/* *********Profile right column********** */
#right {
  float: right; }

.profile_right_column {
  width: 188px;
  margin-left: 5px;
  text-align: right; }
  .profile_right_column h4 {
    text-align: right;
    color: #009900;
    font-size: 10pt;
    font-weight: normal;
    margin: 0; }
  .profile_right_column a {
    color: #333333;
    text-decoration: none; }
  .profile_right_column #description_content {
    background-color: white;
    border-top: 2px solid #009900;
    width: 188px;
    padding-bottom: 5px; }
    .profile_right_column #description_content p {
      text-align: right;
      margin: 5px;
      font-size: 9pt; }
    .profile_right_column #description_content p:first-letter {
      margin-left: 20px; }
  .profile_right_column .column_content {
    background-color: white;
    border-top: 2px solid #009900;
    width: 188px;
    padding-bottom: 5px; }
    .profile_right_column .column_content #p_status {
      margin-top: 5px; }
    .profile_right_column .column_content p {
      text-align: right;
      margin: 5px;
      font-size: 9pt; }
    .profile_right_column .column_content #cv {
      text-align: center;
      font-size: 9pt;
      margin-bottom: 15px; }
      .profile_right_column .column_content #cv img {
        margin-right: 10px; }
    .profile_right_column .column_content img {
      margin-top: 5px;
      margin-right: 5px; }
  .profile_right_column .add {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px; }
    .profile_right_column .add a {
      margin-top: 5px;
      font-size: 9pt;
      color: #333333; }

/* *********Recent Activity*********** */
#feed_requests {
  width: 777px; }
  #feed_requests #minifeeds {
    text-align: right;
    width: 580px; }
    #feed_requests #minifeeds h4 {
      color: #009900;
      font-size: 10pt;
      font-weight: normal;
      margin: 0; }
    #feed_requests #minifeeds .list_feed {
      background-color: white;
      border-top: 2px solid #009900;
      width: 580px;
      margin-bottom: 20px;
      padding-top: 20px; }
      #feed_requests #minifeeds .list_feed table {
        width: 580px;
        height: 36px; }
        #feed_requests #minifeeds .list_feed table td.thumb {
          width: 36px;
          vertical-align: middle; }
        #feed_requests #minifeeds .list_feed table td {
          vertical-align: top;
          padding-bottom: 10px;
          padding-left: 5px; }
          #feed_requests #minifeeds .list_feed table td p {
            margin: 0;
            font-size: 10pt; }
            #feed_requests #minifeeds .list_feed table td p a {
              color: #009900;
              text-decoration: none; }

/* *********Requested contacts partial********** */
#personal_requests {
  margin-left: 7px;
  width: 190px;
  text-align: right; }
  #personal_requests h4 {
    width: 190px;
    color: #009900;
    font-size: 10pt;
    font-weight: normal;
    margin: 0; }
  #personal_requests #person_request {
    background-color: white;
    border-top: 2px solid #009900;
    width: 190px; }
    #personal_requests #person_request table {
      width: 190px;
      text-align: right;
      font-size: 9pt; }
      #personal_requests #person_request table a {
        color: #009900;
        text-decoration: none; }

/* *********Contacts Preview*********** */
#contacts {
  width: 7px; }

#contact_preview h4 {
  text-align: right;
  width: 583px;
  color: #009900;
  font-size: 10pt;
  font-weight: normal;
  margin: 0; }

#contacts_small {
  width: 583px;
  background-color: white;
  border-top: 2px solid #009900; }
  #contacts_small #nocontact {
    text-align: center; }
  #contacts_small table {
    border-spacing: 7px 5px; }
    #contacts_small table td.thumb {
      vertical-align: top;
      font-size: 8pt;
      padding-bottom: 10px;
      width: 195px;
      height: 80px;
      border-collapse: separate; }
      #contacts_small table td.thumb img {
        float: left;
        margin-right: 5px; }
      #contacts_small table td.thumb p {
        font-size: 7.5pt; }
      #contacts_small table td.thumb a {
        font-size: 8pt;
        color: #009900;
        text-decoration: none; }
      #contacts_small table td.thumb table {
        height: 80px;
        border-collapse: collapse; }
        #contacts_small table td.thumb table .person_skill {
          vertical-align: bottom; }
          #contacts_small table td.thumb table .person_skill p {
            margin: 0; }
      #contacts_small table td.thumb .delete {
        margin-top: 2px; }
        #contacts_small table td.thumb .delete a {
          color: red;
          text-decoration: none; }

/* ***********Common contacts*********** */
#common_contacts h4 {
  text-align: right;
  width: 190px;
  color: #009900;
  font-size: 10pt;
  font-weight: normal;
  margin: 0; }

#common_list {
  width: 190px;
  background-color: white;
  border-top: 2px solid #009900;
  padding-top: 5px; }
  #common_list table {
    font-size: 9pt;
    border-spacing: 20px 1px; }
    #common_list table td.thumb {
      width: 60px;
      height: 80px;
      vertical-align: top;
      padding-bottom: 5px;
      border-collapse: separate; }
      #common_list table td.thumb img {
        float: left;
        margin-right: 5px; }
      #common_list table td.thumb p {
        margin: 0;
        margin-top: 2px; }
        #common_list table td.thumb p a {
          color: #009900;
          text-decoration: none; }

/* *********Wall of comments********** */
#wall_title {
  font-size: 10pt;
  font-weight: normal;
  width: 583px;
  text-align: right;
  color: #009900;
  margin: 0; }

.wall {
  width: 583px;
  border-top: 2px solid #009900;
  padding-top: 10px;
  background-color: white; }
  .wall #wall_form {
    text-align: center;
    width: 581px;
    height: 136px;
    background-image: url(../images/wall/wall_public.gif);
    background-repeat: no-repeat; }
    .wall #wall_form #wall_comment {
      color: white;
      float: left;
      width: 100px;
      margin-top: 10px;
      margin-right: 20px;
      margin-left: 20px; }
    .wall #wall_form #wall_textarea {
      padding-top: 10px; }
  .wall .time {
    font-size: 8pt; }
  .wall p.connect {
    padding-top: 15px;
    color: white; }
    .wall p.connect a {
      text-decoration: none;
      color: white; }

/* *********Comments in the wall********** */
#comments {
  margin-left: 10px;
  margin-top: 10px; }

.comment_image {
  float: left;
  font-size: 9pt;
  border-spacing: 2px 0;
  border-collapse: separate;
  width: 200px;
  height: 80px;
  border-top: 1px dotted black;
  border-bottom: 1px dotted black; }
  .comment_image .commenter_image {
    width: 50px; }
  .comment_image a {
    color: #333333;
    text-decoration: none; }
  .comment_image .commenter {
    vertical-align: top;
    padding-top: 5px; }
    .comment_image .commenter p {
      margin: 0; }

.comment {
  border-collapse: collapse;
  margin-bottom: 10px; }
  .comment .head {
    width: 411px;
    height: 30px;
    background-image: url(../images/comments/comment_head.gif);
    background-repeat: no-repeat; }
  .comment .left_arrow {
    width: 16px;
    height: 42px;
    background-image: url(../images/comments/comment_arrow.gif);
    background-repeat: no-repeat; }
  .comment .comment_body {
    width: 240px;
    background-color: white; }
    .comment .comment_body p {
      margin: 0; }
  .comment .right_border {
    width: 15px;
    background-image: url(../images/comments/comment_right.gif);
    background-repeat: repeat-y; }
  .comment .bottom_left {
    width: 20px;
    background-image: url(../images/comments/comment_left.gif);
    background-repeat: repeat-y; }
  .comment .bottom {
    text-align: right;
    width: 409px;
    height: 21px;
    background-image: url(../images/comments/comment_bottom.gif);
    background-repeat: no-repeat;
    padding-right: 10px; }
    .comment .bottom a {
      font-size: 9pt;
      color: #333333;
      text-decoration: none; }
    .comment .bottom .del {
      margin-right: 5px; }
  .comment .tools_meta {
    margin-right: 5px; }
    .comment .tools_meta a {
      color: #333333;
      text-decoration: none;
      font-size: 8pt; }

.mail {
  vertical-align: top;
  padding-top: 35px; }

/* *********Message comment********** */
#inbox h4 {
  margin: 0;
  padding: 0;
  width: 777px;
  text-align: right;
  color: #FF9900; }

#messages {
  background-color: white;
  width: 757px;
  padding: 10px;
  border-top: 2px solid #FF9900; }

.subject {
  padding-left: 20px;
  font-size: 10pt; }
  .subject .title {
    color: #FF9900;
    text-decoration: none; }

/* *********Inbox display********** */
#message_nav {
  text-align: center;
  list-style-type: none;
  margin-bottom: 50px; }
  #message_nav li {
    background-color: #333333;
    display: inline;
    margin-right: 20px;
    padding: 5px; }
    #message_nav li a {
      color: white;
      text-decoration: none; }
  #message_nav .active a {
    color: #FF9900; }

#message_recipient {
  width: 300px; }

/* *********New message display********** */
#new_message h4 {
  margin: 0;
  padding: 0;
  width: 777px;
  text-align: right;
  color: #FF9900; }
#new_message .col1 {
  background-color: white;
  width: 757px;
  padding: 10px;
  border: 1px solid #DDDDDD;
  border-top: 2px solid #FF9900; }
  #new_message .col1 img {
    float: left; }
  #new_message .col1 .form_row {
    text-align: center;
    margin-bottom: 10px; }
    #new_message .col1 .form_row #message_subject {
      width: 297px; }
  #new_message .col1 #message_row {
    text-align: center;
    margin-bottom: 10px;
    margin-left: 90px; }
    #new_message .col1 #message_row #message_body {
      width: 350px; }
    #new_message .col1 #message_row p {
      margin: 0; }
  #new_message .col1 #message_submit {
    margin-left: 90px; }
  #new_message .col1 .button {
    margin-top: 20px;
    margin-left: 20px; }

/* *********New project display********** */
#project {
  width: 580px;
  font-size: 10pt; }
  #project h4 {
    margin: 0;
    color: #FF9900;
    text-align: right; }
  #project #project_global {
    padding: 10px;
    background-color: white;
    border-top: 2px solid #FF9900; }
    #project #project_global input {
      margin-top: 10px; }
    #project #project_global span {
      color: #FF9900;
      float: left;
      width: 270px;
      font-size: 9pt;
      text-align: right;
      margin-right: 20px; }
      #project #project_global span #person_projects {
        width: 270px;
        margin-top: 7px; }
    #project #project_global #create {
      margin-right: 2px; }
    #project #project_global #project_settings {
      font-size: 9pt; }
      #project #project_global #project_settings p {
        text-align: right; }
      #project #project_global #project_settings table {
        margin: 0;
        border-collapse: collapse;
        text-align: right;
        width: 271px;
        font-size: 8pt; }
      #project #project_global #project_settings #title {
        padding-top: 30px;
        width: 270px; }
        #project #project_global #project_settings #title #project_title {
          width: 265px; }
      #project #project_global #project_settings #project_desc {
        float: right;
        margin-top: 15px;
        margin-left: 20px; }
        #project #project_global #project_settings #project_desc textarea {
          margin-top: 10px;
          width: 260px; }
      #project #project_global #project_settings #categories {
        margin-top: 20px; }
      #project #project_global #project_settings #tags {
        margin-top: 20px;
        width: 270px; }
        #project #project_global #project_settings #tags #p_tags {
          width: 265px; }
      #project #project_global #project_settings #status {
        margin-top: 20px;
        width: 270px; }
      #project #project_global #project_settings #buttons {
        margin-left: 440px;
        width: 100px; }
  #project #project_edition {
    font-size: 9pt; }
    #project #project_edition p {
      text-align: right; }
    #project #project_edition table {
      margin: 0;
      border-collapse: collapse;
      text-align: right;
      width: 271px;
      font-size: 8pt; }
    #project #project_edition #title {
      padding-top: 40px;
      width: 270px; }
      #project #project_edition #title #project_title {
        width: 265px; }
    #project #project_edition #project_desc {
      float: right;
      margin-top: 25px;
      margin-left: 20px; }
      #project #project_edition #project_desc textarea {
        margin-top: 10px;
        width: 260px; }
    #project #project_edition #categories {
      margin-top: 20px; }
    #project #project_edition #tags {
      margin-top: 20px;
      width: 270px; }
      #project #project_edition #tags #project_tag_list {
        width: 265px; }
    #project #project_edition #status {
      margin-top: 20px;
      width: 270px; }
    #project #project_edition .buttons {
      margin-bottom: 20px;
      margin-left: 440px;
      width: 100px; }
  #project h3 {
    text-align: center; }
  #project #new_creation {
    text-align: left;
    margin-right: 20px;
    font-size: 9pt;
    width: 300px; }
    #project #new_creation #label {
      color: #333333;
      text-align: right;
      width: 225px; }
  #project #terms_content {
    margin-top: 20px; }
    #project #terms_content span {
      color: #333333;
      width: 270px;
      margin: 0; }
    #project #terms_content a {
      color: #FF9900;
      text-decoration: none; }
  #project .buttons {
    margin-bottom: 20px;
    margin-left: 230px; }
  #project #project_header {
    float: right;
    text-align: right;
    width: 188px;
    font-size: 9pt;
    margin-bottom: 20px; }
    #project #project_header img {
      margin-top: 10px; }
    #project #project_header #preview_empty {
      width: 188px;
      height: 135px;
      background-color: #DDDDDD; }
  #project #previews {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px dotted #333333; }
  #project table .img_preview {
    margin-bottom: 16px; }
  #project table .del {
    color: #333333;
    text-decoration: none; }
    #project table .del img {
      margin-right: 5px; }

/* *********Alerts end notifications********** */
.success {
  border: 1px solid #DDDDDD;
  background-color: white;
  font-size: 12px;
  padding: 6px;
  width: 760px; }

.notice {
  border: 1px solid #DDDDDD;
  background-color: white;
  font-size: 12px;
  padding: 10px;
  width: 760px; }

.error {
  border: 1px solid #DDDDDD;
  background-color: white;
  font-size: 12px;
  padding: 6px;
  width: 760px; }

.errorExplanation {
  border: 1px solid #DDDDDD;
  background-color: white;
  margin-bottom: 2px;
  padding: 1em;
  width: 760px; }

.errorExplanation h2 {
  background: 0;
  border: 0;
  font-size: 1.2em;
  margin-top: 0;
  padding: 0;
  width: 760px; }

.pagination {
  border-bottom: 1px solid #eee;
  font-size: 12px;
  padding-bottom: 2px;
  text-align: center;
  margin-bottom: 2px;
  width: 760px; }
