<h1>New skill</h1>

<%= error_messages_for :skill %>

<% form_for(@skill) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', skills_path %>
