<h4>MINIFEED</h4>
<div class="list_feed">
<%- if logged_in? -%>
    <%= render :partial => 'shared/minifeed_item',
               :collection => current_person.feed %>
<%- else -%>
    <%= render :partial => 'shared/minifeed_item',
               :collection => Activity.global_feed %>
<%- end -%>
</div>