<%- unless minifeed_item.item.nil? -%>
<div>
  <table class="minifeed" >
	<tr>
	  <td>
  		<p class="meta published">
    		<%= minifeed_item.created_at.strftime("On <b>%d/%m/%Y</b>") %>
    		<%= minifeed_item.created_at.strftime("at <b>%I:%M%p</b>") %>
  		</p>
  		<p><%= minifeed_message minifeed_item %></p>
	  </td>
	  <td class="thumb">
  		<%= image_link minifeed_item.person %>
	  </td>
	</tr>
  </table>
</div>
<%- end -%>
