<%- unless minifeed_item.item.nil? -%>
<%- if Connection.exists?(minifeed_item.person, current_person) and !minifeed_item.person.admin -%>
<div>
  <table class="minifeed" >
	<tr>
	  <td>
  		<p class="meta published">
    		<%= minifeed_item.created_at.strftime(_("On <b>%d/%m/%Y</b>")) %>
    		<%= minifeed_item.created_at.strftime(_("at <b>%I:%M%p</b>")) %>
  		</p>
  		<p><%= minifeed_message minifeed_item %></p>
	  </td>
	  <td class="thumb">
  		<%= image_link minifeed_item.person %>
	  </td>
	</tr>
  </table>
</div>
<%- end -%>
<%- end -%>
