<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8">
<div id="terms">

  <p align="justify"><font size="4" face="Arial"><b>Generalities and account 
settings</b></font> <br></p>
<p align="justify"><font size="3" face="Arial"><b>What is Coaliz?</b></font></p>
<p align="justify"><font size="3" face="Arial">Coaliz is a social network 
and portfolio service for young creative people. The purpose of Coaliz 
is to connect members with the worldwide creative population, increase 
their visibility, create professional opportunities and promote creativity 
through collaboration.  </font> <br></p>
<p align="justify"><font size="3" face="Arial">Which kinds of services 
are available on Coaliz?</font></p>
<p align="justify"><font size="3" face="Arial">Portfolios and news can 
be viewed by anyone but to use all our services you have to register 
for a free account. Signing-up allows you to:</font> <br></p>
<ul type="DISC">
  <li><font size="3" face="Arial">Generate a public portfolio 
  with your personal information and work</font></li>
  <li><font size="3" face="Arial">Create projects in your portfolio 
  and upload content on Coaliz</font></li>
  <li><font size="3" face="Arial">See other members’ friends 
  and common contacts</font></li>
  <li><font size="3" face="Arial">Develop your creative network 
  adding contacts to your friends’ list</font></li>
  <li><font size="3" face="Arial">Receive and post personal 
  messages to your contacts</font></li>
  <li><font size="3" face="Arial">Leave comments on projects 
  and portfolios</font></li>
  <li><font size="3" face="Arial">Access to the creative contest 
  area (coming soon)</font></li>
</ul>
 <br>
<p align="justify"><font size="3" face="Arial"><b>Who can sign up on 
Coaliz?</b></font></p>
<p align="justify"><font size="3" face="Arial">Coaliz has been designed 
for young creative people who need a place to show their work, exchange 
with other users and develop a network. All creative students and professionals 
can register on Coaliz and start building their portfolios and networks. 
You must be older than 16 to create an account on Coaliz. Most of the 
creative industries are represented on the website (design, illustration, 
fashion, video, animation, photography, crafts, theatre…etc.).</font> <br>
</p>
<p align="justify"><font size="3" face="Arial"><b>How to sign up for 
a free account on Coaliz?</b></font></p>
<p align="justify"><font size="3" face="Arial">Push the button “SIGN 
UP FOR FREE” on the left and fill the form. You will receive an email 
including a link to activate your account and precise your personal 
information. </font> <br></p>
<p align="justify"><font size="3" face="Arial"><b>Can I use a nickname?</b></font></p>
<p align="justify"><font size="3" face="Arial">As the purpose of Coaliz 
is to increase the visibility and creative network of its members, their 
real name must appear on every portfolio. This condition is essential 
to find members and let you know to the companies. </font> <br>
</p>
<p align="justify"><font size="3" face="Arial"><b>Is my email address 
and contact information visible?</b></font></p>
<p align="justify"><font size="3" face="Arial">To avoid spamming, your 
email address or contact information (address, phone number) will never 
appears on Coaliz. </font> <br></p>
<p align="justify"><font size="3" face="Arial"><b>Will I receive emails 
from Coaliz?</b></font></p>
<p align="justify"><font size="3" face="Arial">Coaliz can send you information 
by mail about your network’s activity. You can decide which kind of 
information you want to receive by editing you notification preferences 
on your personal data form (in your portfolio, push the button “edit 
my profile”). You can also subscribe to our newsletter to be informed 
about new features, projects and contests. </font> <br></p>
<p align="justify"><font size="3" face="Arial"><b>What is Coaliz’ 
privacy policy?</b></font></p>
<p align="justify"><font size="3" face="Arial">Coaliz will not transmit 
or sell your personal information to third parties without your consent. 
Our privacy policy is framed by French law and has been declared to 
the CNIL (Commission Nationale de l’Informatique et des Libertés) 
to ensure your data privacy. At anytime, you are allowed to modify or 
delete your personal information by contacting us at <a href="mailto:contact@coaliz.com" target="_blank">contact@coaliz.com</a>. 
For more information about privacy, read the Terms of use. </font> <br>
</p>
<p align="justify"><font size="3" face="Arial"><b>How to change my password?</b></font></p>
<p align="justify"><font size="3" face="Arial">If you want to change 
your password, go to your portfolio, edit your profile and click on 
the link “change my password”. If you forgot your password, click 
on the link “forgot your password?” under the login box on the right 
column. You will receive a mail with a link to reset your password. </font> <br>
</p>
<p align="justify"><font size="3" face="Arial"><b>Can I delete my Coaliz 
account?</b></font></p>
<p align="justify"><font size="3" face="Arial">You can delete your account 
on Coaliz by sending us an email at <a href="mailto:contact@coaliz.com" target="_blank">contact@coaliz.com</a>. Within 24 hours, 
all your information will be deleted from our servers. </font> <br>
 <br> <br></p>
<p align="justify"><font size="4" face="Arial"><b>Portfolio management</b></font> <br>
</p>
<p align="justify"><font size="3" face="Arial"><b>What is my portfolio?</b></font></p>
<p align="justify"><font size="3" face="Arial">Your portfolio is a personal 
space where you can see your projects, your contacts, your messages 
wall or your inbox.</font> <br></p>
<p align="justify"><font size="3" face="Arial"><b>Why are my statistics 
visible?</b></font></p>
<p align="justify"><font size="3" face="Arial">Statistics are essential 
to determine your activity on Coaliz and identify the most actives users. 
Moreover, statistics can increase your visibility showing your contests’ 
participations and victories.</font> <br></p>
<p align="justify"><font size="3" face="Arial"><b>What is my newsfeed?</b></font></p>
<p align="justify"><font size="3" face="Arial">Your newsfeed informs 
you about your contacts’ activity and helps you to keep in touch with 
them easily. For example, you can follow profiles changes, new projects, 
new friends and contests submissions of your contacts. </font> <br>
</p>
<p align="justify"><font size="3" face="Arial"><b>What is my wall?</b></font></p>
<p align="justify"><font size="3" face="Arial">Your wall is a list of 
public messages that other members can leave on your portfolio. Only 
registered members can leave a message on your wall. You can answer 
to the messages directly on your wall or delete messages you don’t 
want to show.</font> <br></p>
<p align="justify"><font size="3" face="Arial"><b>What is the message 
area?</b></font></p>
<p align="justify"><font size="3" face="Arial">Coaliz allows you to 
send personal messages to your contacts through your inbox page. </font> <br>
</p>
<p align="justify"><font size="3" face="Arial"><b>How to edit or fill 
in my personal information?</b></font></p>
<p align="justify"><font size="3" face="Arial">All your personal information 
(name, password, birthday, contact information, description, skills, 
languages…) can be edited through your personal data form. To do so, 
click on the link “Edit my personal data” on the top-right corner 
of your personal area (My page).</font> <br></p>
<p align="justify"><font size="3" face="Arial"><b>How to add or delete 
a contact of my friends list?</b></font></p>
<p align="justify"><font size="3" face="Arial">To add a contact to your 
friends list visit the portfolio of the member you want to add and click 
on the link “add to my friends” on the top-right corner of the portfolio. 
A request will be send to the member</font></p>
<p align="justify"><font size="3" face="Arial">You can delete a contact 
from your network by clicking on “delete” in your contact list.</font></p>
<p align="justify"><font size="3" face="Arial"> </font> <br></p>
<p align="justify"><font size="4" face="Arial"><b>Projects management</b></font> <br>
</p>
<p align="justify"><font size="3" face="Arial"><b>What is a project?</b></font></p>
<p align="justify"><font size="3" face="Arial">A project brings together 
various creations and files to allow you to present your work.</font> <br>
</p>
<p align="justify"><font size="3" face="Arial"><b>How to create or edit 
one of my projects?</b></font></p>
<p align="justify"><font size="3" face="Arial">By clicking on the button 
“NEW PROJECT – EDIT MY PROJECTS” on the right column of this page 
you will open the project management interface. Then you have to choose 
between editing one of your existing projects or create a new one. To 
create a project you must fill in various information: name of the project, 
categories, status of your project. You can create a project without 
uploading any creation but it is necessary to upload at least a file 
to publish a project. </font> <br></p>
<p align="justify"><font size="3" face="Arial"><b>What is the status 
of my project?</b></font></p>
<p align="justify"><font size="3" face="Arial">When you create a project 
you must choose a status:</font></p>
<p align="justify"><font size="3" face="Arial">- Draft: your project 
will only appear on your portfolio and no one except you can see it. 
By default your project is saved as a draft. </font></p>
<p align="justify"><font size="3" face="Arial">- Published: choose this 
option if you want others members to see your project. Your project 
will then appear on your public portfolio. To be published, a project 
must contain at least one uploaded file. </font> <br></p>
<p align="justify"><font size="3" face="Arial"><b>Which kind of content 
can I upload on Coaliz?</b></font></p>
<p align="justify"><font size="3" face="Arial">For the moment you can 
only upload images on Coaliz (jpeg, gif, png,...). Very soon video upload 
will be available. </font> <br></p>
<p align="justify"><font size="3" face="Arial"><b>How to copyright the 
content of my projects?</b></font></p>
<p align="justify"><font size="3" face="Arial">When you create a project, 
all the creations you upload in it are protected. You can choose which 
type of license you desire by pushing the “copyrights” button in 
the project edition interface. The licenses offered are creative commons 
licenses.</font> <br></p>
<p align="justify"><font size="3" face="Arial"><b>What are the Creative 
Commons? </b></font></p>
<p align="justify"><font size="3" face="Arial">(text and images from 
creative commons website)</font></p>
<p><a name="0.1_graphic06"></a><font size="3" face="Arial"><img src="http://creativecommons.org/images/spectrum.png" height="50" width="415" alt="Spectrum."></font></p>
<p><font size="3" face="Arial">Creative Commons defines the spectrum 
of possibilities between full copyright (all rights reserved) and the 
public domain (no rights reserved). Our licenses help you keep your 
copyright while inviting certain uses of your work (a “some rights 
reserved” copyright).</font> <br></p>
<p><font size="3" face="Arial">You determine your license by choosing 
various criterias:</font></p>
<p><a name="0.1_graphic07"></a><font size="3" face="Arial"><img src="http://creativecommons.org/icons/by/standard.gif" height="32" width="32" alt="Attribution.">Attribution. 
You let others copy, distribute, display, and perform your copyrighted 
work — and derivative works based upon it — but only if they give 
credit the way you request.</font></p>
<p><a name="0.1_graphic08"></a><font size="3" face="Arial"><img src="http://creativecommons.org/icons/nc/standard.gif" height="32" width="32" alt="Non commercial.">Noncommercial. 
You let others copy, distribute, display, and perform your work — 
and derivative works based upon it — but for noncommercial purposes only</font></p>
<p><a name="0.1_graphic09"></a><font size="3" face="Arial"><img src="http://creativecommons.org/icons/nd/standard.gif" height="32" width="32" alt="No derivs.">No 
Derivative Works. You let others copy, distribute, display, and perform 
only verbatim copies of your work, not derivative works based upon it.</font></p>
<p><a name="0.1_graphic0A"></a><font size="3" face="Arial"><img src="http://creativecommons.org/icons/sa/standard.gif" height="32" width="32" alt="Share alike.">Share 
Alike. You allow others to distribute derivative works only under a 
license identical to the license that governs your work.</font></p>
<p><font size="3" face="Arial">Note: A license cannot feature both the 
Share Alike and No Derivative Works options. The Share Alike requirement 
applies only to derivative works.</font></p>
<p><font size="3" face="Arial">To see all licenses : </font><a href="http://creativecommons.org/about/licenses/meet-the-licenses" target="_blank"><font color="#000080" size="3" face="Arial"><u>http://creativecommons.org/<WBR>about/licenses/meet-the-<WBR>licenses</u></font></a><font size="3" face="Arial"> </font></p>
<p align="justify"><font size="3" face="Arial">For more information, 
visit creative commons website : </font><a href="http://www.creativecommons.org/" target="_blank"><font color="#000080" size="3" face="Arial"><u>http://www.creativecommons.org</u></font></a><font size="3" face="Arial"> </font></p>


</div>

</div></body></html>