#description
  =image_tag ("desc_top.gif")
  #desc_message
    %h4 Coaliz en 3 mots...
    %p Participez au développement d'un nouveau produit et soyez rémunérer.
    %p A travers les projets concours en créant vous même le packaging, le design ou la publicité du produit selon la demande des entreprises.
  =image_tag ("desc_bottom.gif")

=image_tag ("player_preview.jpg", :id =>"player")

#lastprojectstab
  %h4 Last Projects
#lastprojects
  %p
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sodales. Aliquam sed diam et mi lacinia fermentum. Mauris quam elit, aliquam elementum, pretium et, auctor sed, orci. Phasellus at augue. Praesent nisi metus, cursus sed, venenatis et, scelerisque ac, lacus. Morbi eu pede a libero placerat vehicula. Etiam rhoncus. Donec consequat vestibulum nisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque eget eros. In in lectus a mauris elementum tincidunt. Nulla ac metus. Nulla scelerisque dignissim risus. Sed vitae ligula. In tellus. Vestibulum aliquet, ipsum sit amet pellentesque venenatis, est diam fermentum dolor, sit amet tempus sem nunc a nisi. Suspendisse a felis non dui ornare ullamcorper. Donec quis lorem.
  %p
    In elit. Nulla nec nulla. Suspendisse rhoncus. Fusce scelerisque. Nunc eget mi nec felis adipiscing auctor. Phasellus id dui in nisl ullamcorper iaculis. Sed in nisl. Etiam vel justo eu nibh imperdiet bibendum. Nam interdum quam sit amet magna. Nam sem. Maecenas ac tellus. Vivamus cursus eleifend velit. Suspendisse dignissim scelerisque turpis. Aenean suscipit.
=image_tag ("lastproj_bottom.gif")