#description
  =image_tag ("blocksTopWhite.jpg")
  #desc_message
    %h4 Coaliz en 3 mots...
    %p Participez au développement d'un nouveau produit et soyez rémunérer.
    %p A travers les projets concours en créant vous même le packaging, le design ou la publicité du produit selon la demande des entreprises.
  =image_tag ("blocksBottomWhite.jpg")