.description
  =image_tag ("desc_top.gif")
  .desc_message
    %h4.b.marR5
      Welcome on coaliz!
    %p
      Coaliz is a free social network and portfolio services for designers and artists.
    %p
      %span.b
        Expose your talent 
      by creating projects in your portfolio.
    %p
      %span.b
        Protect your work
      under creative commons international licenses.
    %p
      %span.b
        Develop your network
      and find partners connecting with other members.
    %p
      Thanks for giving us your
      feedback about coaliz.
  =image_tag ("desc_bottom.gif")

-if @project
  #player
    There should be a player here... in fact...
    :javascript
      var so = new SWFObject('/swf/player.swf','mpl','584','380','9','#000000');
      so.addParam('allowscriptaccess','always');
      so.addParam('allowfullscreen','true');
      so.addParam('wmode','opaque');
      so.addParam('flashvars','&file=#{formatted_person_project_url(@project.person, @project, :xml)}&screencolor=000000&logo=#{image_path("logo-player.png")}&playlistsize=85&playlist=right&autostart=false&fullscreen=true&backcolor=000000&frontcolor=ffffff');
      so.write('player');

#lastproject
  #lastprojectstab
    %h4 Last Projects
  #lastprojects_content
    -per_line = 4
    =render :partial => "projects/projects_list", :locals => {:per_line => per_line, :projects => @projects}
  #lastprojectbottom
    =link_to "view all &raquo;", projects_path