#description
  =image_tag ("desc_top.gif")
  #desc_message
    %h4 Coaliz en 3 mots...
    %p
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sodales. Aliquam sed diam et mi lacinia fermentum. Mauris quam elit, aliquam elementum, pretium et, auctor sed, orci. Phasellus at augue.
    %p
      Praesent nisi metus, cursus sed, venenatis et, scelerisque ac, lacus. Morbi eu pede a libero placerat vehicula. Etiam rhoncus. Donec consequat vestibulum nisi.
    %p
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque eget eros.
  =image_tag ("desc_bottom.gif")

=image_tag ("player_preview.jpg", :id =>"player")

#lastproject
  #lastprojectstab
    %h4 Last Projects
  #lastprojects_content
    .lastprojects
      =image_tag ("thumb_preview.jpg", :class => "thumb")
      .details
        %h4 L'HOMME VOLANT
        By
        =link_to ("Marc Pousset")
        %br
        45
        =image_tag ("heart.gif")
        \- 532
        =image_tag ("eye.gif")
      .category
        Product design, Packaging, Artwork

    .lastprojects
      =image_tag ("thumb_preview.jpg", :class => "thumb")
      .details
        %h4 L'HOMME VOLANT
        By
        =link_to ("Marc Pousset")
        %br
        45
        =image_tag ("heart.gif")
        \- 532
        =image_tag ("eye.gif")
      .category
        Product design, Packaging, Artwork

    .lastprojects
      =image_tag ("thumb_preview.jpg", :class => "thumb")
      .details
        %h4 L'HOMME VOLANT
        By
        =link_to ("Marc Pousset")
        %br
        45
        =image_tag ("heart.gif")
        \- 532
        =image_tag ("eye.gif")
      .category
        Product design, Packaging, Artwork

    .lastprojects
      =image_tag ("thumb_preview.jpg", :class => "thumb")
      .details
        %h4 L'HOMME VOLANT
        By
        =link_to ("Marc Pousset")
        %br
        45
        =image_tag ("heart.gif")
        \- 532
        =image_tag ("eye.gif")
      .category
        Product design, Packaging, Artwork

    .lastprojects
      =image_tag ("thumb_preview.jpg", :class => "thumb")
      .details
        %h4 L'HOMME VOLANT
        By
        =link_to ("Marc Pousset")
        %br
        45
        =image_tag ("heart.gif")
        \- 532
        =image_tag ("eye.gif")
      .category
        Product design, Packaging, Artwork

    .lastprojects
      =image_tag ("thumb_preview.jpg", :class => "thumb")
      .details
        %h4 L'HOMME VOLANT
        By
        =link_to ("Marc Pousset")
        %br
        45
        =image_tag ("heart.gif")
        \- 532
        =image_tag ("eye.gif")
      .category
        Product design, Packaging, Artwork

    .lastprojects
      =image_tag ("thumb_preview.jpg", :class => "thumb")
      .details
        %h4 L'HOMME VOLANT
        By
        =link_to ("Marc Pousset")
        %br
        45
        =image_tag ("heart.gif")
        \- 532
        =image_tag ("eye.gif")
      .category
        Product design, Packaging, Artwork

    .lastprojects
      =image_tag ("thumb_preview.jpg", :class => "thumb")
      .details
        %h4 L'HOMME VOLANT
        By
        =link_to ("Marc Pousset")
        %br
        45
        =image_tag ("heart.gif")
        \- 532
        =image_tag ("eye.gif")
      .category
        Product design, Packaging, Artwork

  #lastprojectbottom
    =link_to ("view all >>")
