#terms.fullPad20
  %h1.b
    CONDITIONS GENERALES D’UTILISATION
  
  %ol.fullPad20
    %li
      %h3.b Préambule 
      %p
        Ces conditions générales définissent les conditions de fonctionnement du site de la société COALIZ hébergé à l’adresse www.coaliz.com , ainsi que les conditions de navigation d'un internaute et d’un utilisateur sur le site. 
        La navigation sur le site COALIZ implique que vous acceptiez sans réserve ces présentes conditions générales, ces dernières pouvant être modifiées sans préavis. 
      %p
        Le directeur de la publication est Monsieur Marc Pousset. 
      %p
        Le site est hébergé par la société Typhon dont le siège social se situe au 17 rue Réaumur, 75003 Paris.    
 
    %li.top20
      %h3.b Définitions  
      %p
        COALIZ: site Internet objet des présentes conditions d’utilisation édité par la société COALIZ. 
      %p
        Utilisateurs : Regroupe les Contributeurs et les Amateurs personnes physiques. 
      %p
        Contributeur: personne qui s’est inscrite sur le Site pour bénéficier des services particuliers offerts par le site aux Contributeurs 
      %p
        Amateur : personne qui s’est inscrite sur le site pour bénéficier des services particuliers accordés aux Amateurs. 
      %p
        Internaute : personne qui navigue sur le site COALIZ 
      %p
    
    %li.top20
      %h3.b Utilisation du site COALIZ 
      %p
        Toute utilisation ou visualisation des Services fournis par COALIZ suppose que l'Utilisateur du site COALIZ ainsi que l’Internaute s'engage à respecter les présentes Conditions d'Utilisation ainsi que les conditions particulières qui leur sont associées. 
      %p
        L’utilisateur comme l’internaute doit donc lire attentivement les présentes Conditions d'utilisation ainsi que les conditions particulières, les imprimer et en conserver une copie.  
      %p
        Si vous n’acceptez pas ces conditions d’utilisation, vous êtes invité à vous déconnecter du site COALIZ. 
      %p
        En tout état de cause, la consultation du site COALIZ ou l’inscription au site vaut acceptation des conditions générales d’utilisation des services définies ci-après soit pour l’ensemble du site COALIZ soit spécifiquement pour l’un des services proposés par COALIZ. 
    
    %li.top20
      %h3.b Inscription 
      %p
        L'Utilisateur ne peut utiliser l'ensemble des fonctionnalités et services proposées par COALIZ qu’après avoir créé un compte personnel, en donnant son accord à ces Conditions d’Utilisation et en donnant son nom, prénom, date de naissance, pays de résidence, adresse email (à l’exclusion de tout pseudo).  
      %p
        L’inscription sur le site de COALIZ est entièrement gratuite. 
      %p
        L’inscription sur le site de COALIZ est réservée aux personnes de plus de 16 ans.  
      %p
        Lors de son inscription, l’Utilisateur a la possibilité de :  
        %ul
          %li Créer un compte personnel 
          %li Utiliser les divers outils de communication mis à disposition des Contributeurs (ajout de contact, messagerie, wall, vote…) 
          %li Créer des projets et charger des fichiers sur le serveur de COALIZ 
      %p
        L’Utilisateur renseigne lui-même son identifiant (adresse email) et son mot de passe par lesquels il accèdera à son compte qui rassemble l’ensemble des informations personnelles transmises et des créations qu’il va charger sur le serveur de COALIZ. 
      %p
        L'Utilisateur s'engage à conserver son identifiant et son mot de passe confidentiels.  
      %p
        L’Utilisateur est responsable de l’ensemble des opérations réalisées à partir de son espace personnel, avec ses identifiants et codes personnels. La responsabilité de COALIZ ne pourra en aucun cas être engagée à ce titre. 
      %p
        L'Utilisateur garantit donner, lors de l’inscription, des informations personnelles non erronées, non déceptives pouvant permettre de procéder à son identification précise en cas de litige. Toute information personnelle fantaisiste, calomnieuse est susceptible d’entraîner la fermeture du compte personnel.
          
    %li.top20
      %h3.b Description des Services :
      %p
        Le Service et les applications de COALIZ sont disponibles en quelque endroit que ce soit, dès lors que les conditions techniques minimales sont atteintes, et notamment en termes d’accès au réseau Internet et aux compatibilités techniques du matériel utilisé.
      %ol.fullPad20
        %li
          %h4.b La société COALIZ propose aux Contributeurs du site www.coaliz.com  d’accéder aux services suivants :  
          %ul
            %li
              %p.u Service de portfolio et chargement des créations sur le site COALIZ 
              %p
                La Plateforme COALIZ permet aux Contributeurs d’héberger et de mettre en ligne les œuvres sur lesquelles ils détiennent des droits de propriété intellectuelle (ci-après collectivement désignés « les Créations ») afin de les diffuser et de les communiquer au public.  
              %p
                La société COALIZ propose à ses utilisateurs de charger leurs créations originales sur un espace personnel qui leur est attribué. 
              %p
                Pour bénéficier de cet espace, l’utilisateur doit s’être inscrit préalablement sur la plateforme COALIZ.  
              %p
                Lors du chargement de l’œuvre sur son espace personnel (portfolio),  le Contributeur est invité à sélectionner les utilisations faites de son œuvre qu’il entend autoriser, au titre de ses droits de propriété intellectuelle, et ce selon le modèle des licences « creative commons ».  
              %p
                Les conditions particulières d’utilisation de ce service sont disponibles sur le site de Creative commons, disponible à l’adresse suivante : www.creativecommons.org  
            %li
              %p.u Services permettant aux Contributeurs de participer à différents Concours créatifs organisés sur la plateforme COALIZ  
              %p.b Principe des Concours créatifs 
              %p
                Les Contributeurs ont la possibilité de soumettre certaines de leurs Créations aux Concours créatifs organisés par COALIZ ou par les clients de la société COALIZ. 
              %p
                Les Concours créatifs sont organisés par la société COALIZ ou de ses clients et Partenaires afin de sélectionner un ou plusieurs projets. 
              %p
                Les prescriptions et conditions de chaque Concours créatif sont établies par les Clients et Partenaires de COALIZ en fonction de leurs besoins spécifiques. 
                Ces conditions peuvent déroger aux présentes Conditions Générales d’Utilisation. 
              %p.b Participation des Contributeurs 
              %p
                Les Contributeurs ont la possibilité de s’inscrire aux Concours créatifs. 
                Ils s’engagent dès lors à se soumettre aux conditions et prescriptions établies dans la fiche du Concours créatif au aux présentes Conditions Générales d’Utilisation, à défaut de voir leur participation non prise en compte. 
              %p
                Lorsqu’il veut participer à un concours créatif, le Contributeur sélectionne le concours choisi et prend connaissance du règlement de ce concours.  Son inscription lui est confirmée par un mail de COALIZ. 
              %p
                La réalisation des créations est effective à partir des logiciels dont l’utilisateur a la dispositin sur ses propres outils. 
              %p
                Lorsque la création est conçue elle est chargée sur le site www.coaliz.com. 
              %p
                Jusqu’aux date et heures de clôture du concours figurant sur la fiche du concours créatif sélectionné, le Contributeur a la possibilité de modifier sa création. 
              %p
                La dernière ou les dernières créations en ligne, et pour lesquelles COALIZ n’assume aucune responsabilité, n’ayant aucun contrôle sur les outils utilisés, sont seules prises en considération aux date et heures de clôture du concours. 
              %p
                Chaque Contributeur peut présenter au concours plusieurs créations distinctes 
            %li
              %p.u Services permettant aux Utilisateurs de communiquer avec entre eux 
              %p
                Ce service est uniquement ouvert aux membres inscrits. 
              %p
                Tout Utilisateur peut laisser des messages sur les portfolios de ses contacts 
              %p
                Son adresse mail ne sera visible que de l’Utilisateur qu’il souhaite contacter, ce dernier ayant la possibilité de valider la demande de contact ou de la refuser. 
            %li
              %p.u Autres services 
              %p
                L’offre de services de COALIZ est susceptible d’évoluer à n’importe quel moment : modifications des fonctionnalités, nouveaux services ou suppression de services. 
                COALIZ peut également modifier les présentes conditions d’utilisation sans notification préalable. 
                Les nouvelles conditions générales d’utilisation seront applicables à compter de leur mise en ligne. 
          %li.top20
            %h4.b La société COALIZ propose aux Internautes d’accéder aux Services suivants :  
            %p
              Visualisation des œuvres mises en ligne 
            %p
              La visualisation des projets se fait à travers un lecteur vidéo flash.  
            %p
              Vote dans le cadre des Concours créatifs 
            %p
              Il n’est pas nécessaire d’être inscrit sur Coaliz pour voter pour un projet. Cependant si l’utilisateur n’est pas membre de Coaliz il lui sera demandé son adresse email avant d’effectuer le vote. Coaliz n’acceptera qu’un seul vote par utilisateur (adresse email et IP). En cas de fraude ou soupçon de fraude, les votes suspects ne seront pas comptabilisés.  
            %p
              Autres services 
            %p
              L’offre de services de COALIZ est susceptible d’évoluer à n’importe quel moment : modifications des fonctionnalités, nouveaux services ou suppression de services. 
              COALIZ peut également modifier les présentes conditions d’utilisation sans notification préalable. 
              Les nouvelles conditions générales d’utilisation seront applicables à compter de leur mise en ligne.
      
    %li.top20
      %h3.b 
        Garantie
      %ol.fullPad20
        %li
          %p
            Le Contributeur garantit à COALIZ qu’il est bien titulaire des droits de propriété intellectuelle sur les œuvres qu’il charge sur le site COALIZ et qu’il a la jouissance et l'exercice paisible de tous les droits attachés aux Créations. 
            Le Contributeur garantit ainsi COALIZ contre toute revendication de quelque nature que ce soit qui pourrait s'élever au titre des Créations mises en ligne, que ce soit au titre des droits de propriété intellectuelle ou au titre de la concurrence déloyale ou du parasitisme et s'engage à rembourser à la société COALIZ toutes sommes auxquelles elle serait condamnée à ce titre.  
          %p
            Il s'interdit également de consentir à des tiers tous droits d'utilisation sur les éléments des Créations chargées dans le cadre d’un Concours créatif, et ce durant toute la période de participation au Concours créatif.
        %li
          %p
            Le Contributeur est informé que toute déclaration erronée de sa part est susceptible d'engager sa responsabilité. 
        %li
          %p
            Le Contributeur s’engage à ne pas transmettre des écrits, sons ou images ou à ne pas charger ou faciliter le chargement de Créations présentant des contenus illicites ou contraires à l’ordre public ou aux bonnes mœurs. 
            Les contenus interdits sur le site sont notamment :  
          %ul
            %li Apologie de crimes contre l’humanité ou de crimes de guerre, d'apologie du nazisme, d’apologie de crimes ou de délits, de contestations de l'existence de crimes contre l'humanité ou de génocides reconnus ;  
            %li Atteinte à la dignité de la personne humaine ;  
            %li Contenu à caractère violent ou pornographique ;  
            %li Contenu portant atteinte à l’ordre public ou aux bonnes mœurs ;  
            %li Contenu représentant un mineur, ou une personne dont l'aspect physique est celui d'un mineur, ayant un caractère pornographique ;  
            %li Incitation ou de provocation à la commission d’une infraction ;  
            %li Provocation au suicide d’autrui ;  
            %li Provocation à la discrimination, à la haine ou à la violence à l'égard d'une personne ou d'un groupe de personnes à raison de leur origine, de leur sexe, de leur situation de famille, de leur apparence physique, de leur patronyme, de leur état de santé, de leur handicap, de leurs caractéristiques génétiques, de leurs mœurs, de leur orientation sexuelle vraie ou supposée, de leur âge, de leurs opinions politiques, de leurs activités syndicales, de leur appartenance vraies ou supposée à une ethnie, une nation, une race, ou une religion déterminée ;  
            %li Atteinte à la vie privée, à l’intimité de la vie privée ou au droit à l’image des personnes ;  
            %li Atteinte à la vie privée par la captation, l’enregistrement ou transmission sans le consentement de leur auteur, des paroles prononcées à titre privé ou confidentiel ;  
            %li Atteinte à la vie privée par la fixation, l’enregistrement ou transmission sans le consentement de celle-ci, de l'image d'une personne se trouvant dans un lieu privé ;  
            %li Atteinte à la présomption d’innocence ;  
            %li Montage réalisé avec les paroles ou l'image d'une personne sans son consentement, s'il n'apparaît pas à l'évidence qu'il s'agit d'un montage ou s'il n'en est pas expressément fait mention ;  
            %li Diffamation ou injure ;  
            %li Contrefaçon d’un droit de propriété intellectuelle ;  
            %li Recel du produit d’un crime ou d’un délit ;  
            %li Atteinte au secret professionnel, au secret des correspondances, ou au secret de la Défense Nationale.  
            %li Contenant des virus, des vers, des chevaux de Troie ou tout dossier, programme informatique de nature à interrompre, détruire ou limiter les fonctionnalités de tout ordinateur ou réseau informatique lié de près ou de loin aux activités de COALIZ.  
      %p.b Suspension du compte personnel 
      %p
        COALIZ se réserve le droit de suspendre à tout moment, sans préavis et sans indemnisation, le compte personnel d’un Utilisateur, et ce, pendant la période qu’elle jugera utile, et notamment en cas de présence de contenus litigieux. 
        COALIZ se réserve le droit de supprimer le compte personnel d’un Utilisateur si elle constate la présence d’informations erronées communiqués par l’Utilisateur lors de son inscription
    %li.top20
      %h3.b
        Responsabilité 
      %p
        Au titre de l’hébergement du Contenu, COALIZ respecte les dispositions issues de la Loi pour la Confiance dans l’Economie Numérique du 21 juin 2004.  
        Conformément à l’article 6. I. 2 de la loi du 21 juin 2004, COALIZ ne peut voir sa responsabilité engagée à raison des Créations hébergées, si COALIZ n'avait pas effectivement connaissance du caractère illicite de la Création en cause, ou si, dès le moment où COALIZ en a eu connaissance, COALIZ a agi promptement pour retirer cette Création ou en rendre l'accès impossible. 
        En cas de contenus litigieux, les Internautes ou les Utilisateurs du site pourront adresser une notification à la société COALIZ par mail à l’adresse suivante : contact@coaliz.com
        
    %li.top20
      %h3.b
        Propriété intellectuelle 
      %ol.fullPad20
        %li
          Tous les éléments du site de la société COALIZ sont et restent la propriété intellectuelle et exclusive de la société COALIZ.  
          %p.u Droit d’auteur
          %p
            Les textes, images, dessins et le lay-out ainsi que la charte graphique du présent site sont protégés par le droit de la propriété intellectuelle. 
            Il est interdit de copier, extraire, diffuser, modifier ou d’adapter le contenu du présent site. Le téléchargement ainsi que l’impression de texte, images et éléments graphiques sont autorisés au seul usage privé et non commercial. La reproduction de dessins, images, documents sonores, séquences vidéo et textes dans d’autres publications électroniques ou imprimées nécessite le consentement écrit préalable de la société COALIZ. 
            Le défaut d’autorisation est sanctionné par le délit de contrefaçon. 
          %p.u Marques
          %p
            Les marques et logos figurant sur les sites sont des marques déposées et protégées. 
            Toute reproduction totale ou partielle de ces marques et/ou logos, effectuée à partir des éléments du site sans l’autorisation expresse de la société COALIZ est constitutif de contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle. 
          %p.u Bases de données 
          %p
            Les bases de données établies par la société COALIZ sont protégées par le droit d’auteur ainsi que par la loi du 1er juillet 1998 portant transposition dans le Code de la propriété intellectuelle de la directive européenne du 11 mars 1996 relative à la protection juridique des bases de données. 
            Toute extraction ne peut être que limitée et effectuée à des fins privées. 
          %p.u Liens hypertextes 
          %p
            Tout lien simple ou par hypertexte est strictement interdit sauf accord exprès et écrit de la société COALIZ. 
        %li
          Toutes les utilisations des Créations mises en ligne sont régies par les dispositions des Licences Creative Commons. Dès lors, l’utilisation des œuvres mises en ligne est limitée aux options choisies par les Contributeurs lors du chargement. Toute utilisation n’ayant pas été expressément autorisée constituera une utilisation contrefaisante de l’œuvre. 
          COALIZ ne dispose d’aucun droit sur les œuvres mises en ligne par les Contributeurs.
        
    %li.top20    
      %h3.b
        Données personnelles
      %p
        L’accès aux services de COALIZ suppose une inscription préalable de l’internaute, qui doit disposer d’un compte COALIZ, et la collecte de ses données personnelles.  
      %p
        Lors de la création de son compte personnel,  l’Utilisateur accepte les présentes Conditions d’Utilisation et communique son nom, prénom, date de naissance, sexe, pays de résidence, adresse email. 
      %p
        Lors de l’inscription, l’Utilisateur définit un identifiant (son adresse email) et un mot de passe par lesquels il accède à son compte personnel qui rassemble l’ensemble des informations personnelles transmises. L’utilisateur à la possibilité de compléter son profil avec d’autres informations personnelles facultatives (données de contact, situation, cursus…etc.), lesquelles sont soumises aux mêmes conditions que les informations obligatoires.  
      %p
        L'Utilisateur s'engage à conserver son identifiant et son mot de passe confidentiels. 
        Il prend la responsabilité de l’ensemble des actions effectuées au moyen de ses informations d’identifiants, et notamment, et non exclusivement, les transferts des Créations.  
      %p
        L'Utilisateur garantit donner, lors de l’inscription, des informations personnelles non erronées, non déceptives pouvant permettre de procéder à son identification précise en cas de litige.  
      %p
        Toute information personnelle fantaisiste, calomnieuse est susceptible d’entraîner la fermeture du compte personnel. 
      %p
        L'Utilisateur est responsable de l'utilisation de son compte via son identifiant et son mot de passe.  
      %p
        L'Utilisateur déclare avoir la capacité pour contracter. 
      %p
        L'Utilisateur mineur garantit avoir reçu l’autorisation de ses parents ou de la personne détenant l’autorité familiale.  
      %p
        Conformément à loi du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, les utilisateurs des Services sont informés que les données personnelles qu’ils communiquent sont nécessaires à la délivrance des Services et de leurs contenus. 
        Ces données personnelles sont exclusivement destinées à COALIZ, [et le cas échéant à ses partenaires.]  
      %p
        En application des articles 38 à 40 de la loi n° 78-17 du 6 janvier 1978, modifiée par la loi n° _x003a_ls="trans">2004-801 du 6 août 2004, relative à l'informatique, aux fichiers et aux libertés, l’Utilisateur, ou le Client dispose d'un droit d'accès, de rectification, de modification et de suppression des données qui le concernent.  
      %p
        Ce droit s’exerce de la manière suivante :  
      %ul
        %li Par courrier adressé à Gestion des données personnelles à l’adresse postale : COALIZ, 20 rue kellermann, 51100 Reims, France 
        %li Par courriel à l’attention du service de  Gestion des données personnelles, à l’adresse : privacy@coaliz.com
    
    %li.top20
      %h3.b
        Cookies 
      %p
        COALIZ peut également être amené pour un usage strictement interne au site, à déposer des cookies sur l'ordinateur de l'utilisateur. Un cookie est un petit fichier de données, utilisé en général pour faciliter l'exploitation et l'affichage de données personnalisées sur un site internet. 
        Un cookie ne nous permet pas d’identifier l’utilisateur. 
        De manière générale, il enregistre des informations relatives à la navigation de l’ordinateur sur le site (les pages consultées, la date et l'heure de la consultation, etc.) qui pourront être lues lors des visites ultérieures de l’utilisateur. 
      %p
        La durée de conservation de ces informations est de 30 jours. 
      %p
        L’utilisateur peut opposer à l'enregistrement de "cookies" configurant les préférences et options de confidentialité de son navigateur. Pour déterminer comment configurer ces préférences, se reporter aux rubriques d’aide de votre navigateur.
        
    %li.top20
      %h3.b
        Clauses diverses
      %p
        L'invalidité d'une ou plusieurs clauses des Dispositions Générales d'utilisation de la Plateforme COALIZ n'entraînera pas la nullité de celles-ci.
        Les titres des articles sont donnés à titre indicatif
        %li.top20
          %h3.b
            Loi applicable – Règlement des litiges  
          %p
            Le présent contrat est soumis à la loi française. 
          %p
            Tout litige né des présentes ou de son exécution est de la compétence exclusive des Tribunaux de Reims, France.