<div class="accordion_toggle tab_title clearfix hand"><h4>Project description</h4></div>
<div class="accordion_content content">
  <h4>Description:</h4>
  <%- if @project.description.empty? %>
    No description
  <%- else %>
      <%=h truncate(@project.description, 520) %>
  <%- end %>
</div>