%table
  = will_paginate projects, :prev_label => "<span class='prev'><</span>", :next_label => "<span class='next'>></span>", :class =>"paginate"
  - projects.in_groups_of(3) do |row|
    - row.each do |project|
      - if project
        %tr.fl
          = render :partial => "projects/project_item", :locals =>{ :project => project}
  = will_paginate projects, :prev_label => "<span class='prev'><</span>", :next_label => "<span class='next'>></span>", :class =>"paginate"