<div class="tab_title"><h4>Project data</h4></div>
<div class="content">
	<div id="options">
		<%=link_to "See portfolio", person_path(@project.person) %>
		<p>
			<%= link_to "Comment this project" %>
		</p>
		<p>
			<%= link_to "Tag this project" %>
		</p>
		<p>
			<%= link_to "Report an abuse" %>
		</p>
		<p>
			<!-- AddThis Button BEGIN -->
<a href="http://www.addthis.com/bookmark.php" onclick="addthis_url   = location.href; addthis_title = document.title; return addthis_click(this);" target="_blank"><img src="http://s9.addthis.com/button1-share.gif" width="125" height="16" border="0" alt="Bookmark and Share" /></a> <script type="text/javascript">var addthis_pub = 'coaliz';</script><script type="text/javascript" src="http://s9.addthis.com/js/widget.php?v=10"></script>  
			<!-- AddThis Button END -->
		</p>
	</div>
</div>