<table>
  <%- if projects.empty? %>
    <tr>
      <td>No project</td>
	  </tr>
  <%- else %>
    <%= will_paginate projects, :prev_label => "<span class='prev'><</span>", :next_label => "<span class='next'>></span>", :class =>"paginate" %>
    
    <%- i = 0 -%>
  	<%- for project in projects %>
      <%- if i % per_line == 0 %>
        <tr>
      <%- end %>
	    
	    <%- if project.creations.first %>
        <%= render :partial => "projects/project_item", :locals =>{ :project => project} %>
      	<%- i+=1 %>
	    <%- end %>
	  
	    <%- if i % per_line == 0 or project == projects.last %>
        </tr>
      <%- end %>
	  <%- end %>
	  
	  <%= will_paginate projects, :prev_label => "<span class='prev'><</span>", :next_label => "<span class='next'>></span>", :class =>"paginate" %>
  <%- end %>
</table>