<div id="project">
	<h4><%= _("Manage projects") %></h4>
	<div id="project_global" >
    <div id="choose_project" class="clearfix">
      <%- form_for current_person, :html => {:class => "fl"} do |f| %>
        Select one of your existing projects:<br />
        <%= f.collection_select :projects, current_person.projects, :id, :title %>
        <%- disabled = false %>
        <%- unless current_person.projects.first %>
          <%- disabled = "disabled" %>
        <%- end %>
        <%= f.submit _("Edit"), :disabled => disabled %>
        <input type="hidden", name ="type", value ="project_edit" >
      <%- end %>
      <%#= link_to image_tag("projects/delete_project.gif"), projects_path(),  :class => "fr" %>
      <%= link_to image_tag("projects/create_project.gif", :id => "create"), newproject_path(current_person, "settings"), :class => "fr" %>
    </div>
  </div>
</div>