#sort
  %span#sort_content
    -form_tag searches_path, :method => :get, :id => "frmSearch" do
      %label{ :for => "q"}Choose a category:
      %br
      =# collection_select(nil, :skills, Skill.find(:all), :id, :name,{:prompt   => "All categories"})
      %select#_skills{ :name=> "[skills]" }
        %option{ :value => "" } All categories
        %optgroup{ :label => "ARCHITECTURE" }
          %option{ :value => "4" } Architecture
          %option{ :value => "8" } Carpentry
          %option{ :value => "53" } Landscape architecture
          %option{ :value => "59" } Masonry
          %option{ :value => "90" } Urbanism
        %optgroup{ :label => "ARTS" }  
          %option{ :value => "5" } Art direction
          %option{ :value => "20" } Culinary arts
          %option{ :value => "23" } Digital art
          %option{ :value => "42" } Graffiti arts
          %option{ :value => "66" } Painting
          %option{ :value => "67" } Pastry arts
          %option{ :value => "80" } Sculpting
          %option{ :value => "94" } Visual arts
        %optgroup{ :label => "CRAFTS" }  
          %option{ :value => "10" } Ceramics
          %option{ :value => "41" } Glass working
          %option{ :value => "54" } Leather working
          %option{ :value => "60" } Metal working
          %option{ :value => "68" } Perfumery
          %option{ :value => "98" } Wood working
          %option{ :value => "19" } Crafts
        %optgroup{ :label => "DESIGN" }  
          %option{ :value => "11" } Character design
          %option{ :value => "22" } Design
          %option{ :value => "38" } Floral design
          %option{ :value => "39" } Furniture design
          %option{ :value => "47" } Industrial design
          %option{ :value => "50" } Interior design
          %option{ :value => "55" } Lighting design
          %option{ :value => "75" } Product design
          %option{ :value => "88" } Toy design
        %optgroup{ :label => "FASHION" }
          %option{ :value => "35" } Fashion
          %option{ :value => "51" } Jewelry design
          %option{ :value => "86" } Textile design
        %optgroup{ :label => "FILM" }  
          %option{ :value => "13" } Cinematography
          %option{ :value => "26" } Documentary
          %option{ :value => "36" } Film
          %option{ :value => "81" } Short film
          %option{ :value => "83" } Storyboarding
        %optgroup{ :label => "GRAPHIC ARTS" }  
          %option{ :value => "43" } Graphic design
          %option{ :value => "65" } Package design
          %option{ :value => "96" } Web design
          %option{ :value => "7" } Caricature
          %option{ :value => "15" } Comic strip
          %option{ :value => "27" } Drawing
          %option{ :value => "46" } Illustration
          %option{ :value => "84" } Technical drawing
          %option{ :value => "89" } Typography
        %optgroup{ :label => "MEDIA AND MARKET" }  
          %option{ :value => "2" } Advertising
          %option{ :value => "6" } Branding
          %option{ :value => "33" } Entrepreneurship
          %option{ :value => "52" } Journalism
          %option{ :value => "58" } Marketing
          %option{ :value => "79" } Radio
          %option{ :value => "85" } Television
          %option{ :value => "62" } Music
          %option{ :value => "63" } Music composition
          %option{ :value => "64" } Music production
        %optgroup{ :label => "PERFORMING ARTS" }  
          %option{ :value => "12" } Choregraphy
          %option{ :value => "18" } Costume design
          %option{ :value => "21" } Dance
          %option{ :value => "34" } Exhibition design
          %option{ :value => "44" } Hair styling
          %option{ :value => "57" } Makeup arts
          %option{ :value => "87" } Theater
        %optgroup{ :label => "PHOTOGRAPHY" }  
          %option{ :value => "25" } Digital photography
          %option{ :value => "69" } Photo illustration
          %option{ :value => "70" } Photography
          %option{ :value => "71" } Photojournalism
        %optgroup{ :label => "PUBLISHING" }  
          %option{ :value => "29" } Editorial design
          %option{ :value => "73" } Poetry
          %option{ :value => "74" } Print design
          %option{ :value => "78" } Publishing
          %option{ :value => "99" } Writing
        %optgroup{ :label => "VIDEO AND ANIMATION" }
          %option{ :value => "1" } 3D animation
          %option{ :value => "3" } Animation
          %option{ :value => "9" } Cartooning
          %option{ :value => "16" } Computer animation
          %option{ :value => "37" } Flash animation
          %option{ :value => "72" } Podcasting
          %option{ :value => "82" } Stop motion animation
          %option{ :value => "91" } Video
          %option{ :value => "92" } Video blogging
          %option{ :value => "95" } Visual effects
          / %option{ :value => "14" } Comedy
          /    %option{ :value => "17" } Consulting
          /    %option{ :value => "24" } Digital imaging
          /    %option{ :value => "28" } Editing
          /    %option{ :value => "30" } Education
          /    %option{ :value => "31" } Engineering
          /    %option{ :value => "32" } Enology
          /    %option{ :value => "40" } Game design
          /    %option{ :value => "45" } Hardware architecture
          /    %option{ :value => "48" } Infographism
          /    %option{ :value => "49" } Interaction design
          /    %option{ :value => "56" } Machinima
          /    %option{ :value => "61" } Multimedia
          /    %option{ :value => "76" } Production
          /    %option{ :value => "77" } Programming
          /    %option{ :value => "93" } Video gamedesign
          / %option{ :value => "97" } Web development
  %h4#sort_title SORT PROJECTS BY CATEGORY
#what_is
  %h4
    =link_to "How to create my network ?"

#projects_page
  %h4 PROJECTS
  #my_projects
    -per_line = 4
    =render :partial => 'projects_list', :locals => {:per_line => per_line, :projects => @all_projects}
