<h1>New software</h1>

<%= error_messages_for :software %>

<% form_for(@software) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', softwares_path %>
