-form_tag searches_path, :method => :get, :id => "frmSearch" do
  %label{ :for =>"q" } Search
  =text_field_tag :q, params[:q], :id => "txtSearch", :class => "txt", :maxlength => 50
  =image_submit_tag ("go.jpg", :id => "go")
  =link_to "Advanced search", { :controller =>"search", :action => "index" }, { :id =>"adv_search" }