<%- column_div :type => :primary do -%>

  <h2><%= _("People") %></h2>

  <%= will_paginate %>

  <ul class="list people">
    <%= render :partial => 'person', :collection => @people %>
  </ul>
  
  <%= will_paginate %>
<%- end -%>
