<div dir="ltr" class="yellow top20" style="text-align: left;" id="deed">  
      <div id="deed-head">
	      <h1><span>Creative Commons License Deed</span></h1>
        <div id="deed-license">
	        <h2 property="dc:title">Attribution-Noncommercial 3.0 Unported</h2>
        </div>
      </div>

      <div dir="ltr" style="text-align: left;" id="deed-main">
       <div id="deed-main-content">
          
  

        <div dir="ltr" style="text-align: left;" id="deed-rights">

        


<h3 resource="http://creativecommons.org/ns#Reproduction" rel="cc:permits">You are free:</h3>
		      <ul>
			<li resource="http://creativecommons.org/ns#Distribution" rel="cc:permits" class="license share"><strong>to Share</strong> — to copy, distribute and transmit the work</li>
			      <li resource="http://creativecommons.org/ns#DerivativeWorks" rel="cc:permits" class="license remix"><strong>to Remix</strong> — to adapt the work</li>
            <li class="license-hidden" id="more-container"><span id="devnations-container"/></li>
		      </ul>
        </div>
        <div id="deed-conditions">
	  <h3>Under the following conditions:</h3>

	  <ul dir="ltr" style="text-align: left;"> 
            <li class="license by" resource="http://creativecommons.org/ns#Attribution" rel="cc:requires">
	      <p><strong>Attribution</strong>. 
		<span id="attribution-container">You must attribute the work in the manner specified by the author or licensor (but not in any way that suggests that they endorse you or your use of the work).</span>
		
		<span id="by-more-container">
	      </span></p>

	      
		<p style="display: none;" id="work-attribution-container">
		  <strong>Attribute this work:</strong><br/>
		  <input type="text" onfocus="document.getElementById('work-attribution').select();" onclick="this.select()" readonly="readonly" value="" id="work-attribution"/>
		  <input type="hidden" value="CC BY-NC 3.0" id="license-code"/>
		  <input type="hidden" value="http://creativecommons.org/licenses/by-nc/3.0/" id="license-url"/>
		<a id="attribution_help" href="">
		  <img alt="Information" src="http://creativecommons.org/licenses/@@/cc/images/information.png"/>
		</a>
		</p>
		<div class="yui-panel-container shadow hide-scrollbars" id="attribution_help_panel_c" style="z-index: 2;"><div id="attribution_help_panel" class="yui-module yui-overlay yui-panel" style="visibility: inherit; width: 400px;">
		  <div class="hd" style="cursor: auto;">
		    What does "Attribute this work" mean?
		  </div>
		  <div class="bd">
		    The page you came from contained embedded licensing
		    metadata, including how the creator wishes to be 
		    attributed for re-use.  You can use the HTML here to
		    cite the work.  Doing so will also include metadata on
		    your page so that others can find the original work as
		    well.
  		  </div>
		<span class="container-close"> </span></div></div>

	      

            </li>
            <li class="license nc" resource="http://creativecommons.org/ns#CommercialUse" rel="cc:prohibits">
	      <p><strong>Noncommercial</strong>. 
		
		<span>You may not use this work for commercial purposes.</span>
		<span id="nc-more-container">
	      </span></p>

	      

            </li>
            <li resource="http://creativecommons.org/ns#Notice" rel="cc:requires">For any reuse or distribution, you must make clear to others the license terms of this work. The best way to do this is with a link to this web page.</li>
            <li>Any of the above conditions can be waived if you get permission from the copyright holder.</li>
            
            <li>Nothing in this license impairs or restricts the author's moral rights.</li>
            
            
          </ul>

          

          </div>
    <span id="referrer-metadata-container">

       </span></div>
      </div>


      <div id="deed-foot">
        

          

	  
	    <a id="disclaimer" href="">Disclaimer</a>
	    <div class="yui-panel-container shadow hide-scrollbars" id="disclaimer_panel_c" style="z-index: 2; left: 600.5px; top: 711.083px;"><div id="disclaimer_panel" class="yui-module yui-overlay yui-panel" style="visibility: inherit; width: 300px;">
	      <div class="hd" style="cursor: auto;">Disclaimer</div>
	      <div class="bd"><p>
The Commons Deed is not a license. It is simply a handy reference for understanding the Legal Code (the full license) — it is a human-readable expression of some of its key terms. Think of it as the user-friendly interface to the Legal Code beneath. This Deed itself has no legal value, and its contents do not appear in the actual license.
</p>

<p>
Creative Commons is not a law firm and does not provide legal services. Distributing of, displaying of, or linking to this Commons Deed does not create an attorney-client relationship.
</p></div>
	  <span class="container-close"> </span></div></div>
	  

        <p style="text-align: center; margin-top: 40px;">
	  <strong>Your fair dealing and other rights are in no way affected by the above.</strong>
	</p>

	<p style="text-align: center;">

    

    

    

    This is a human-readable summary of the <a class="fulltext" href="legalcode">Legal Code (the full license)</a>.
 </p>

         
       </div>
    </div>