!!!
%html{ :xmlns =>"http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang =>"en"}
  %head
    %meta{ 'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8" }
    %title Coaliz - Community & creative contests
    = stylesheet_link_tag "default"
    = javascript_include_tag :defaults
  %body
    #global

      #header
        %span
          =link_to image_tag ("logo.jpg", :id => "logo"), { :controller => "home", :action =>"index" }
        %span#searchbox
          = render :partial => "searches/box", :locals => { :search => @searches }

        %span#languages
          -form_for (:language, :url => { :action => :index }) do |form|
          =image_submit_tag ("uk_on.jpg", :id => "uk", :onMouseOver => "this.src = 'images/uk_on.jpg'")
          =image_submit_tag ("fr_off.jpg", :id => "fr", :title => "Coming soon", :onMouseOver => "this.src = 'images/fr_on.jpg'", :onMouseOut => "this.src = 'images/fr_off.jpg'")
          =image_submit_tag ("es_off.jpg", :id => "es", :title => "Coming soon", :onMouseOver => "this.src = 'images/es_on.jpg'", :onMouseOut => "this.src = 'images/es_off.jpg'")
          -end

        #menus
          =link_to "Gallery",{ :controller => "gallery", :action => "index" }, { :id =>"gallery" }
          =link_to "News",{ :controller => "news", :action => "index" }, { :id =>"news" }
          =link_to "My Page",my_page_path, { :id =>"mypage" }
          =link_to "Creative Contests",{ :controller => "creative_contest", :action => "index" }, { :id =>"creativecontests" }
          =link_to "What is Coaliz ?",{ :controller => "coaliz", :action => "index" }, { :id =>"coaliz" }

      #submenus
      #main
        =render :partial => "home/toolbox"
       
        %span#content
          =yield
